[2016-07-18 16:03] danaskallman opened #1 "Troubleshooting form submission"
I did a quick test in creating a form that has an activity attached and attempted to submit more than once. On the second time it did not work. The idea/use case would be creating a few forms for a team to add items like phone calls or meetings without coming into CiviCRM. Or if using the Civivolunteer forms could be created to log time for example.

[2016-07-18 16:04] danaskallman opened #2 "State Field"
The CiviCRM State field shows all states around the world after the country is selected.

In CiviCRM currently, using profiles, the country is added before the state in profile forms so that when the country is selected the state field then only shows states from what country. Is that something that is going to be able to be done here?

[2016-07-18 17:00] mecachisenros commented on #2
@danaskallman thanks for feedback, I'm aware of this, I'm currently looking at it, trying to figure out what would the best approach to link them so that the State/Province limits the options to the selected Country

[2016-07-18 17:17] mecachisenros commented on #1
@danaskallman how did you configured the form? More specifically the Civi processors, the most important thing to be aware of is the order they are added, you want to have a **Contact processor** as the **first processor** and then link the rest of the entities/processors like activities, groups, tags, (you can add as many processors as you need, ie. multiple Group processor that are only used if

[2016-07-18 21:24] mecachisenros commented on #2
@danaskallman This issue should be fixed now via 6ec163b866e1e60259785947aa47db065d99345f and 789ed5bb8f135553bb8c8fdc05e08e6d79a4fe02

[2016-07-18 21:24] #2 closed

[2016-07-25 15:01] danaskallman commented on #2
I was testing this today on setting up a form for a client website and when I selected country, the state shows just the word array multiple times. It does it on it's own too, without country field added.

![carldera-civicrm-state-array](https://cloud.githubusercontent.com/assets/1139085/17105872/004964e8-5257-11e6-8d2b-e26c58b97842.png)

[2016-07-25 15:03] danaskallman opened #3 "Prepopulate default country and state from CiviCRM"
In the CiviCRM core localization settings there is a way to set default country and state, which is helpful when working with organizations that are state or city based. Is it possible that the state and country fields default to this if that setting is in place? Or an option to do so in the field setup?

Additionally, if that is setup, can state along be used without the country field?

[2016-07-27 10:18] mecachisenros commented on #3
@danaskallman As requested, the Country and State/Province fields have now a default option which by default will have the Localization values form CiviCRM,
0b70618f153074e97fc5ae453de5d0220e3dfcf8

[2016-07-27 21:29] danaskallman commented on #2
Just confirming that this is fixed, no longer shows array. Shows all states around the world if no country is selected, once country is selected it shows that states for that country.

[2016-07-27 21:37] danaskallman commented on #3
@mecachisenros thanks!

In my tests it worked for country but not for state. One thing I noted is that when Adding the State Element, after adding it, it did not close the caledara pop up to select element. It did close it for country. Not sure that would be why, but noting it in case.

[2016-07-27 22:59] mecachisenros commented on #3
Thanks @danaskallman, my fault, the Country field worked because it was set in Civi's Localization settings, but the State was empty right? I assumed the default Localization settings would have been passed as an empty string if none present, but it wasn't the case, this should do it 198bfaff457ea67456dea0297158abe69324a2d0

[2016-07-27 23:07] mecachisenros commented on #3
Nope, that fixes the javascript error but it looks like the **default State/Province field** is not available via Civi's API at least in v4.6.16, it does work in v4.7.9
I'll have a more deeper look tomorrow.

[2016-07-28 13:43] danaskallman commented on #3
I see, interesting. The settings in the field to set default state is helpful.

[2016-07-28 13:55] mecachisenros commented on #3
I could add a version check and retrieve the default State Localization value via `CRM_Core_DAO` to make it work with 4.6.x

Aside from that I just realized that in the same Localization page there's a **Available Country** and **Available States and Provinces** options, should the Countries/States in the form builder be limited to the these settings? Any thoughts?

[2016-07-28 16:46] danaskallman commented on #3
@mecachisenros re:

Yeah, this is a great idea. Only list countries and states that have been enabled. That list is quite long by default and can see users not being happy with that. Thanks for thinking of that one.

[2016-07-29 16:20] mecachisenros commented on #3
Thanks @danaskallman, latest commit added should fix all mentioned above

[2016-07-29 16:20] #3 closed

[2016-08-09 16:19] danaskallman commented on #1
ok so my latest test, with 10 contact processors all first provides the following output with debug enabled. After that I've noted primary contact phone and address processors, then relationships and last other contact phone processors.

Notice: Undefined index: dedupe_rule in /home/point/public_html/wp-content/plugins/caldera-forms-civicrm/includes/functions.php on line 577

Notice: Undefined ind

[2016-08-09 16:21] danaskallman opened #4 "Filter display of custom fields by contact type"
Is there a way to display custom fields by contact type? Currently all fields appear no matter the contact type selected in Individual.  I've added quite a few fields for a contact type Student, so they don't need to be used unless that is selected.

[2016-08-09 16:22] danaskallman opened #5 "Hide disabled custom fields"
I'm using the Volunteer extension that adds a custom field.  I disabled that field in CiviCRM however it still shows in the custom fields for the individual. Can disabled fields be hidden on processor too?

[2016-08-24 15:39] mecachisenros commented on #5
This should be fixed via 9b993f2dd6e007261b304a96bbc213b9bcad7804

[2016-08-24 15:39] #5 closed

[2016-08-24 15:53] mecachisenros commented on #1
@danaskallman the PHP notices should be fixed now, although that shouldn't prevent the form from submitting.
A thing to have in mind is that if you are submitting the form with empty fields values the processors will still be processed, and therefore it will fail, ie creating an activity with empty parameters, if that's the case you could use a Conditional rule for the processor to be used only if

[2016-08-26 16:31] danaskallman commented on #1
@mecachisenros I had not reviewed the conditions within each processor, thanks for sharing that.

Over the past week I deployed a site with this plugin, form seen here: https://dawn.coop/dawn-technical-assistance-request/

It took me quite a bit of trial and error to get the form to work. If I created all fields in Caldera and then Civi it didn't always work, I am guessing since the field value ma

[2016-08-27 13:31] mecachisenros commented on #1
@danaskallman Thanks for reporting.
Now I understand a bit more. I just noticed the heavy use of checkboxes/radio fields in the form you mentioned, I can imagine how much time consuming that must be (ie manually inputting all the options/values into the form) and how easy is to make a mistake. But I have good news, now you can achieve this automatically/dynamically, you have two options, either us

[2016-08-30 15:02] danaskallman commented on #1
@mecachisenros nice, this is way cool! I only did a quick test so far, will review in more detail and post more updates if I find anything.

As of now I'd opt for the 'bulk insert/presets' since the notification summary would have all fields displayed. When I used the Civi State field it appears as a number in the notification.

[2016-08-30 15:48] mecachisenros commented on #1
@danaskallman you're correct, that's how the "summary" tag works, for all **select fields** it will always output the value (in the Country/State case is the country/state id from Civi) instead of the label, but I believe that doesn't happen with checkbox/radio fields, so as long the field is a checkbox/radio it shouldn't matter if you use 'autopopulate' or 'bulk insert', it only happens with sele

[2016-08-30 20:36] danaskallman commented on #1
@mecachisenros let me try that re: magic tag.

Re: Send Civi Email, I am not sure I fully understand. But if I am following you are saying instead of using the autoresponses in Caldera that we use Civi templates for that? And that template would be selected from the available ones?

Maybe we start a new issue for this.

[2016-09-06 12:00] mecachisenros commented on #4
@danaskallman This should be fixed with latest commit

[2016-09-06 12:00] #4 closed

[2016-09-06 18:24] danaskallman opened #6 "Can't edit any Caldera Forms error message: One of parameters (value: ) is not of the type Integer"
When I go to Edit a form it says this:

And backtrace shows this:

[code]

@mecachisenros is there a quick fix for this?

[2016-09-06 21:55] mecachisenros commented on #6
@danaskallman it looks like is not related to the latest commit but rather to a Options custom field (ie, dropdown, select, checkbox, radio etc) I might be wrong, but have you recently added a custom field of the mentioned type? Also which Civi version are you using?

You can revert back downloading downloading/cloning from here https://github.com/mecachisenros/caldera-forms-civicrm/tree/487e5a623

[2016-09-07 01:36] danaskallman commented on #6
That seems accurate, I reverted to this https://github.com/mecachisenros/caldera-forms-civicrm/tree/9b993f2dd6e007261b304a96bbc213b9bcad7804 and was able to get back into editing the form.

I'm using Civi 4.6 on all site at the moment.

In both the cases I am testing the updates it is forms created prior to Options custom fields , I'll test on a new site tomorrow to confirm. Are there changes I ne

[2016-09-07 01:50] danaskallman commented on #6
It actually happened on another site where the only form I have is for newsletter subscribers, so no integer related fields at all, just name and email. But also, a form created prior to the update referenced prior.

[2016-09-07 10:31] mecachisenros commented on #6
@danaskallman  I'm trying to replicate this, I've created a clean build to double check but I can't reproduce the error you are getting, can you test with the referenced commit and report back?

[2016-09-07 13:26] danaskallman commented on #6
@mecachisenros interesting. I was getting the same error/backtrace on all commits after the one I referenced worked.

However, I just pulled in the latest commit and that works, so seems to resolve the issue?

[2016-09-07 13:42] mecachisenros commented on #6
So latest commit 947ac7f9b7502ecd82c9c7fd7c4e043d9af89e28 resolved it then?

It's odd, as issue #4 and its commit ac069bbdbcb598c7e5e7571cd80539c26801e450 has nothing to do with the error/backtrace you are getting and I cannot see the connection between them, I tried to replicate it adding all custom fields of type select, checkbox, radio etc that Civi supports, even deprecated ones, but nothing.

[2016-09-07 13:52] danaskallman commented on #6
I see. But why would it affect all caldera forms, even ones with no CiviCRM processors? I even created a new form and it wouldn't let me continued editing it.

I'll continue reviewing and seeing if I can find any other reasons this issue would arise.

[2016-09-07 14:03] mecachisenros commented on #6
The `Autopopulate` an `Bulk insert/presets` feature runs through a filter hook, so it doesn't matter if the form has a Civi processor or not, if there are Custom Options fields in Civi, these will show up in the CF field settings.

[2016-09-07 14:03] #6 closed

[2016-09-20 00:36] danaskallman opened #10 "Contact Custom fields don't display when returning to Edit a form processor"
I've noticed on a couple of sites now that when a custom field is for Individuals, no sub-contact type, when I go back and edit a form those custom fields are no longer listed in the processor. When I first added the processor it was there, but not after I come back to edit. Those custom fields that are for sub-contact type of an Individual do appear. Thoughts on why this may be?

[2016-09-20 15:06] mecachisenros commented on #10
@danaskallman I think that should fix it

[2016-09-20 18:48] danaskallman commented on #10
It worked in that the Custom Field shows up, but can only see the contact and details of the first processor. All other processors appear empty, with no settings/options just the Remove Processor option.

[2016-09-20 18:59] danaskallman commented on #10
Adding console error messages. Let me know if there is more needed, not sure what part is the most informative.

[code]

[2016-09-20 19:08] mecachisenros commented on #10
@danaskallman apologies about that, I missed an opening bracket d80832dfab357429dbaac73fcf073a3852635ce2

[2016-09-20 19:22] danaskallman commented on #10
No worries @mecachisenros thanks, that did it!

[2016-09-20 19:22] #10 closed

[2016-09-21 18:05] danaskallman opened #12 "Custom Fields in Relationship Processor"
Wondering if having custom fields in the Relationship Processor can be done?

One use case is adding an Emergency Contact Relationship and asking what that relationship is, so a text box (but could be anything really).

[2016-09-22 12:30] mecachisenros commented on #12
@danaskallman yes, that can definitely be done, I have not thought  about it because I've never used custom fields for the Relationship entity.

[2016-09-22 12:51] danaskallman commented on #12
@mecachisenros I haven't either, but seems useful in some ways. The contact is being added as an Emergency Contact relationship type and also asking who this is? Like aunt, sister, brother, etc. Seems to make sense to add custom field there and not in contact record itself. Thoughts?

[2016-09-22 12:54] danaskallman opened #13 "User account creation"
On profiles there is an option to set a profile to

* No Account Creation
* Optional Account Creation
* Require Account Creation

Is this something we can do as well using this integration?

[2016-09-27 14:56] danaskallman opened #14 "Processors UI"
I have been setting up a few forms and learning how to use Caldera forms in the process. And processors are where the integration points are created to 'sync' date into CiviCRM. Currently there are the following processors:
- CiviCRM Contact
- CiviCRM Activity
- CiviCRM Relationship
- CiviCRM Tag
- CiviCRM Address
- CiviCRM Email
- CiviCRM Phone
- CiviCRM Note

And there could be more, like Websit

[2016-09-27 15:00] danaskallman commented on #14
All the processors in place now revolve around the CiviCRM Contact. Could this feasibly be pulled into one processor with more options? For example I add CiviiCRM Contact 1 and map the default contact fields and custom fields. Below that there are checkboxes for me to enable and use/sync:

* Address
* Phone
* Note
* Email
* Link.URL
* Group
* Tag

When an option is selected it adds new fields to m

[2016-09-27 18:07] danaskallman commented on #1
Ok, so the saga continues...I am working on the form that is asking for 10 contacts and 28 processors. I've gone through and made sure field values match up, added conditionals of when to use a contact processor and the errors I am getting are these:

[code]

I am using the same relationship like Parent of or Emergency Contact of more than once, since the forms allows for up to 2 parents and 2 eme

[2016-09-28 09:43] mecachisenros commented on #1
@danaskallman it looks like Contact 3 and Contact 4 are not being processed/set so the relationship then fails, does that make sense?

[2016-09-28 13:45] mecachisenros commented on #14
@danaskallman @christianwach  How about something like this:
![contact-processor](https://cloud.githubusercontent.com/assets/3038096/18915811/1fe3fac8-858a-11e6-9435-0a89f13c67ed.gif)

[2016-09-28 13:48] christianwach commented on #14
@mecachisenros Nice! It could be better still if the accordion sections only show up if you select the "Process x for this Contact" checkbox. Or have I misunderstood how this works?

[2016-09-28 13:51] mecachisenros commented on #14
@christianwach Yes that is the idea, I haven't got that far yet.
Show/hide accordion based on checkboxes at the top, any feedback before I move forward is appreciated.

[2016-09-28 13:53] christianwach commented on #14
@mecachisenros It looks fantastic! I can't wait to have a play.

[2016-09-28 14:05] danaskallman commented on #14
@mecachisenros nice!

I am not sure I am following the process. What does the checkbox do that is separate from selection options in the accordion?

[2016-09-28 14:11] danaskallman commented on #1
@mecachisenros Ah, I see. Those contacts are not always used and I've set to use only if condition is met. Do I have to add the Use conditions in the relationship processor too?

[2016-09-28 15:21] mecachisenros commented on #14
@danaskallman the checkboxes enable an entity for that particular Contact processor, the accordions will be hidden be default (except for Contact Standard/Custom fields) unless you tick the checkbox at the top, but is not actually behaving like that in the demo above

[2016-09-28 15:24] mecachisenros commented on #1
Yes, that is correct @danaskallman, you'll have to add a condition to the relationship processor so it's processed only when Contact 3 **and** Contact 4 are set

[2016-09-28 17:45] danaskallman commented on #14
@mecachisenros great, that makes sense. Checkbox adds accordion to then select and use processor.

[2016-09-28 17:51] danaskallman commented on #14
@mecachisenros curious on thoughts if Relationships should be it's own Processor. I am torn, since it's just 3 fields and can see it being part of the contact processor. But then it only can be used if 2 contact processors are in place. I ask since if there i 10 contacts there could be 9 relationship processors too and wondering if there is a way the consolidate that in some way.

Activity is pret

[2016-09-28 18:04] danaskallman commented on #1
Hmmm, well that damn long form has me stumpped. Not those errors are gone but don't submit. I'll go through the thing again and see if I missed anything. It will be easier with #14 since it's one longer processor and one condition for all. Though not sure about the relationship part yet.

[2016-10-14 19:32] danaskallman commented on #14
This 0.3 branch is looking great! Though I just tried master and it didn't show the same, it was merged, right? Does the 0.3 tag need to be applied to it?

Question what if a form is requesting more than one phone, email or street address? Is there a way to say/ask how many phone numbers will be processed and then select number and that would provide the spaces needed. For example home and cell nu

[2016-10-15 14:21] christianwach commented on #14
@danaskallman The master branch has had the 0.3 branch merged #18 so you should see the new processor format, though you'll have to update any pre-0.3 forms. You might also like to try the demo forms in #19 which should save some time in getting a form off the ground.

[2016-10-15 14:26] christianwach commented on #1
@danaskallman I found that when I used a form with an email field that has the slug 'email', that the form silently fails when the honeypot is active in the form settings, because the honeypot sometimes uses a hidden field with that slug to catch spammers. See https://github.com/mecachisenros/caldera-forms-civicrm/pull/19#issuecomment-253765978 for details.

[2016-10-18 20:52] danaskallman commented on #14
thanks @christianwach for some reason the pull wasn't working initially. I'll try get to #19 this week too.

[2016-10-18 20:53] danaskallman commented on #1
That's good to know, thanks @christianwach

[2016-10-18 20:56] danaskallman opened #20 "Dedupe rule selection question 0.3 issue"
I am curious about how the dedupe rule selection in the form works. I am testing a form where I am using my name and email and it has now created 3 contacts. I am using the `Individual - Name and Email (reserved) - Surpervised` rule. Shouldn't that just update my existing contact details or add an activity to an existing contact?

[2016-10-25 01:34] danaskallman commented on #20
@mecachisenros @christianwach I am getting duplicates a lot when submitting forms. Are you having the same issue? Is it best not to use dedupe option?

[2016-10-25 08:19] christianwach commented on #20
@danaskallman I've not used dedupe rules with this plugin yet - hopefully @mecachisenros has a better idea of what's going on

[2016-10-27 13:32] danaskallman opened #21 "Contact Processor 0.3 not adding contact to Group"
When using the new contact processor on 0.3/latest version of master, contacts are not being added to the group. I have to add the other group processor for contacts to be added to the group. Thoughts?

[2016-10-27 13:34] danaskallman commented on #20
I can add some sample forms, but it's basically any form I create is adding the contact as a new contact, and it's across all the sites I have this on too. Not matter if I am logged and using the pre-populate contact details option for the contact.

[2016-10-27 13:49] danaskallman commented on #20
Just did a quick test on this commit https://github.com/mecachisenros/caldera-forms-civicrm/tree/6094bbfe22fa2315f6afa1fdc0c75519ead67ca4 and duplicates are not created at that point. So seems connected to 0.3 merge

[2016-10-30 14:41] danaskallman commented on #20
Noting this is resolved by #22 in my tests, thanks @christianwach

[2016-10-30 14:42] danaskallman commented on #21
Groups are not added with #23, that PR resolves that issue

[2016-10-30 14:44] danaskallman opened #24 "Website field in Contact 0.3 adding multiple times"
When using the `Process website for this contact.` for contact processor in 0.3 the website gets added multiple times on multiple submissions. So for example the Main website or twitter website appear multiple time if the form is submitted more than once.

[2016-11-03 17:04] #21 closed

[2016-11-03 17:05] #20 closed

[2016-11-06 22:03] mecachisenros commented on #24
@danaskallman this should be fixed via 728d8fc794cccc374c093201dbaa42ffae09828a

[2016-11-07 19:46] seascoot opened #25 "ETA for Events Processor"
Hi @mecachisenros,

I'm so stoked that you are doing this!  Do you have an idea of when you may get to an Events processor?  It is essential for my anticipated use.

Finally we may be getting close to an equivalent to Webform Civicrm on Wordpress.

[2016-11-08 15:41] mecachisenros commented on #25
Hi @seascoot

Glad you like the integration. I'm afraid I cannot give you an ETA, the main problem we are trying to figure out is how to handle payments, once that is done Participant, Memberships, Donations and Contributions processors will follow.

I could add a Participant processor now but it will only work for **free** events.

Also if you have any feedback or issues/bugs that you might find

[2016-11-08 18:54] seascoot commented on #25
I will certainly report back on my testing.

I don't actually need a payment processor right now.  I am using the Woocommerce cart for payments.  I just need to record participants as "Pending (pay later)" (and maybe assign memberships based on event and relationship) in Civi.  For now I can just manually confirm payment received in Civi based on my WC order status.

[2016-11-23 22:01] seascoot opened #26 "Does Address Location Type need to be set?"
While setting up contact processors I discovered that unless I explicitly set the "Address Location Type" in the Contact Address section the form fails to submit with an associated error:

`PHP Fatal error:  Uncaught CiviCRM_API3_Exception: [mandatory_missing: Mandatory key(s) missing from params array: location_type_id`

Is a value for the location type required in CiviCRM?

[2016-11-23 22:28] mecachisenros commented on #26
@seascoot yes the Address Location Type is a required field in CiviCRM.

Thank you for reporting.

Also thank you for reminding me, the reason for not explicitly requiring it when setting up the Address entity in the Contact processor was to be able to expose the Address Location Type in the front end and let the user/form submitter chose the location type they want. So you can have a required dro

[2016-11-23 22:42] mecachisenros commented on #24
@danaskallman I'll close this, feel free to reopen it if you still get this issue

[2016-11-23 22:42] #24 closed

[2016-11-26 20:41] seascoot opened #27 "API file warnings"
When a Caldera Forms Civicrm form I'm working on is opened I get a lot of "failed to open stream: No such file or directory" warnings originating from
`WARNING: D:\wamp\www\mysitename\wp-content\plugins\civicrm\civicrm\CRM\Utils\File.php:387 - `

The following are reported:
fopen(api/v3/UFMatch/Getsingle.php): failed to open stream:
fopen(api/v3/UFMatch/Getfields.php): failed to open stream:
fopen

[2016-11-28 12:54] mecachisenros commented on #27
@seascoot That looks odd to me, it seems like it could be related to a WAMP path misconfiguration? What CiviCRM version are you on?

[2016-11-28 18:46] seascoot commented on #27
WP is 4.6.1
Civi is 4.7.12

[2016-12-10 19:12] seascoot opened #28 "Group link works in separate processor but not in Contact processor"
I found that if I tried to create a group relationship from the optional dropdown in a contact processor it caused a failure in the form to submit.  If, however, I create a separate group processor it seems to work fine and get carried over to Civi.

[2016-12-12 17:24] mecachisenros commented on #28
@seascoot are you using the latest master branch of the plugin? It looks like what you are describing has been addressed already, see #21

[2016-12-13 22:36] danaskallman opened #29 "Checkbox submission error"
I am using a checkbox field, in both CiviCRM 4.7.14 and WP 4.7 and Caldera 1.4.6.1 I can choose one option in the checkbox but not multiple. So it submits file if I just select one, but get the following errors when I try to select more than one option in a checkbox field.

[code]

Thoughts?

[2016-12-14 12:44] mecachisenros commented on #29
@danaskallman the referenced commit should fix the issue for the Contact processor, I'll make some more tests later this evening, as the Activity processor is probably affected as well.

[2016-12-14 14:56] danaskallman commented on #29
@mecachisenros yeah, that worked. Thanks! I can test once the Activity processor too, just let me know.

[2017-01-05 02:41] danaskallman opened #30 "CiviCRM_API3 error Mandatory keys missing prams array: phone"
We have a form up and are getting this fatal erro

`Fatal error:  Uncaught CiviCRM_API3_Exception: [mandatory_missing: Mandatory key(s) missing from params array: phone\n\n  thrown in /var/www/m4bl/wordpress/wp-content/plugins/civicrm/civicrm/api/api.php on line 45\n'`

Some of the submissions in Caldera appear like this `(___)___-1___` and that's what gets passed onto Civi.

Not 100% sure they ar

[2017-01-05 10:55] mecachisenros commented on #30
@danaskallman that means the Phone field is empty when the form is submitted, the required fields for Civi's Phone API are the contact_id and the _phone_ field.

That _1_ in the phone mask looks odd, can you double check the mask format? If you have it set to custom all digits must be indicated with a _'9'_, see the picture below, the _1_ after the hyphen is incorrect, it should be a _9_ (unless y

[2017-01-05 13:52] danaskallman commented on #30
@mecachisenros I am actually using the Local option, but can change it. It is all showing (999)999-9999

The sample showed above was how some of the submissions are appearing in the admin.

I changed to text field and seems to work, maybe I'll leave that for now. Though phone numbers may be entered wrong that way.

[2017-01-05 15:43] danaskallman commented on #30
Issue resolved by using the phone and address processors and not  options  within the contact processor. Also since those fields are not required, set condition to only process if fields are filled out.

[2017-01-05 15:43] #30 closed

[2017-02-02 18:21] danaskallman opened #31 "File upload fields mapping"
I was attempting to map a file upload to a custom field and it doesn't seem to work. I created a custom field for an activity type using file upload option. When I had the field mapped the submission didn't work, if I removed it the form worked. Is this something that can't be done?

[2017-02-14 14:59] danaskallman opened #32 "Activity Type Event Registration add Select Event"
In the activity processor we can select Event Registration as an activity type. However, there is no way to connect that activity to an event. so someone submitting a form could be added as a participant, or multiple contacts/participants, to an specific event. I know in #25 there's a reference to paid events, however in this case I am imagining to be able to add participants to a free event, like

[2017-02-14 15:05] danaskallman opened #33 "Activity Type Selection add component extra fields to map"
In the Activity processor, it shows all acitivy types available in CiviCRM, if the component is enabled or not. However, the only fields available to map in the activity processor are those of the default add Activity to contacts in CiviCRM. The fields are those available through when using the Add Activity to contacts, like it is with Event Registration (since it's a component). Wonder if it's po

[2017-02-16 18:13] seascoot commented on #28
Updating to a more recent master branch version fixed the issue.

[2017-02-16 18:13] #28 closed

[2017-03-03 15:56] mecachisenros commented on #29
@danaskallman there's a new 0.4 branch which should address this issue for all processors via da9c590dcc617018352ed5cab5faa33b47cf7c32 and b07df17205451ba20445d3b20c7561e729e6e233

I'll close it for now, just reopen it if there's any regressions

[2017-03-03 15:56] #29 closed

[2017-03-14 15:59] danaskallman opened #35 "Contact Type is removed not added on form submission"
When I submit a form that uses either just the parent contact type like Individual, or a say Volunteer, or Student, it seems to remove any previous contact type that may have been associated with my contact record already. Is there a way the contact type can be help and added, so I can be multiple contact types, when a form is submitted?

[2017-03-15 11:04] mecachisenros commented on #35
@danaskallman this should be fixed in 0.4 branch, feel free to reopen if it's not

[2017-03-15 11:04] #35 closed

[2017-04-12 05:34] richardsplayground opened #37 "Installation instructions / getting started"
Sorry for the newbie question - I'm new to caldera forms.  Would it be possible to provide a brief getting started guide for how to get this caldera-forms-civicrm to work with a basic install of the caldera forms plugin?

Thanks so much.

[2017-04-14 14:32] danaskallman commented on #37
@richardsplayground I am working on some documentation, should have something to share in the next couple of weeks.

By adding this plugin, there are new processors available to get data into CiviCRM. But there's quite a few things that can be done, so the documentation should cover that.

[2017-04-14 14:36] danaskallman commented on #13
FYI, I've been using this add-on https://calderaforms.com/doc/caldera-forms-users-getting-started/ and it works well. I can use alongside the Civi processors and add the fields for account creation on the same form.

One of the benefits is that I don't need to enable the WP user registration setting which means less spam users.

[2017-04-17 11:42] mecachisenros commented on #37
thank you very much @danaskallman can't wait to see it!

@richardsplayground a very brief description would be that this plugin/integration, as @danaskallman mentions, adds a few processors for CiviCRM entities which allows you to _map_ form fields to CiviCRM fields/entities.

If you are new to Caldera Forms, the plugin authors have a start guide [here].(https://calderaforms.com/getting-started/)

[2017-04-28 15:44] danaskallman commented on #37
Initial docs published here https://github.com/mecachisenros/caldera-forms-civicrm/tree/0.4/docs

I think we can close this and continue adding edits/improvements moving forward.

[2017-04-29 16:33] Numinous commented on #25
Hello @mecachisenros!  Thanks for the outstanding work. In regards to handling payments, some of the work done by veda consulting may be helpful.   [(https://github.com/veda-consulting/woocommerce_civicrm)](url)  I feel like handling payments attractively and seamlessly through forms would solve the most glaring deficiency of Civi on Wordpress.  A professional and enticing front-end for donating o

[2017-05-12 20:48] loneprairie opened #41 "Civi Country & State in notification emails"
Great plugin - successfully creates a Civi contact, assigns group, adds activity as expected. Thank you for building and sharing.

In notification email to staff and autoresponder to form user, country and state are returned as (I assume) their Civi ID# - please see attachments.

![country_caldera](https://cloud.githubusercontent.com/assets/11682835/26016347/3b50a4d0-372a-11e7-8342-cf642ab16a13.pn

[2017-05-12 20:51] loneprairie opened #42 "Case Processor?"
Hi again,

Could this possibly be used to open a new case in CiviCase?

Thanks

[2017-05-15 08:47] mecachisenros commented on #41
@loneprairie glad you find the plugin useful and thank you for the feedback.

I'll have a look at this and get it sorted.

[2017-05-15 09:09] mecachisenros commented on #42
@loneprairie it could be used, although is not implemented yet.

Design wise I need to figure out if a _Case Processor_ is needed or will it be sufficient with incorporating the functionality in the Activity processor, ie having a _File Activity to Case_ checkbox which would show Case related options when clicked.

Also think about more functionality like auto-fill form based activity id etc.

So

[2017-05-15 20:37] loneprairie commented on #42
@mecachisenros  I see - here is the envisioned workflow:

1. A visitor to our website is in need of assistance with a new issue and fills out our "Get Help" form.
2. Upon submitting the form, Civi creates a new contact or updates and existing one as necessary and opens a new case for that contact
3. Our staff then have a case and case timeline set up for them automatically as a result of the user

[2017-05-25 15:16] mecachisenros commented on #42
@loneprairie I've created a new branch here https://github.com/mecachisenros/caldera-forms-civicrm/tree/civicase with a Case processor (basic implementation) if you could test and give feedback it would be highly appreciated.

[2017-05-25 20:14] loneprairie commented on #42
@mecachisenros Thank you! I installed without incident and the new processor is available to me. Currently, I cannot get the processor to create a new case and I suspect it has to do with the mapping of a couple of fields required by CiviCase when creating a new case:

1. Activity Medium - this should be mapped to the Activity Medium field in the New Case Profile (I am not sure if this is actually

[2017-05-26 09:45] mecachisenros commented on #42
@loneprairie I believe Activity Medium is not required when using the API (it will default to _email_), but you are correct Subject it is required. You can map a hidden field for the Subject or set up a dropdown field with different options so the user can chose from, or map it to a text filed and require it in the form

[2017-05-30 11:37] mecachisenros commented on #41
this should be fixed via 5c6a466c0d399a0738e055092e368b6b5529d2c1

[2017-05-30 11:38] #41 closed

[2017-05-30 17:06] loneprairie commented on #42
@mecachisenros You are correct and the processor does now create a case - well done! There is one more feature that would be handy, if possible: currently, the Civi sets the Case Role of Case Coordinator (Case Manager) as the user who submits the form but that role should actually be assigned to a staff member/existing Civi user. Is it possible to map a specific Civi user into that role using the

[2017-05-31 19:17] danaskallman commented on #1
Specific issues can be opened going forward, so will close this issue since it's more generic and maybe some issue covered through more docs and fixes since this issue was started.

[2017-05-31 19:17] #1 closed

[2017-05-31 19:20] danaskallman commented on #14
Nothing that having the extra options in the contact processor to add phone numbers, email, address, etc. has made it possible to have less processors on more complex forms when all contact fields are required. And only need to use additional say phone or email processor is more than one phone number or email address field is in a form for a particular contact.

[2017-06-22 16:55] danaskallman opened #43 "Contact Autocomplete Select Field"
In custom fields in CiviCRM we can create a Contact Reference field type that uses the Autocomplete-Select field type. Can this be a custom field type used in Caldera forms too? How complex would it be to implement?

[2017-06-23 17:39] mikaweinstein commented on #20
I am having the same issue Dana initially had, where in any number of scenarios (including when I'm logged in), contacts entered via the integration are creating duplicates rather than following the dedupe rule. I am using 0.4, which pr #22 is merged into. Any ideas, or anyone else having this issue?

[2017-06-28 04:58] DouglasMcLellan commented on #31
I second this. I need to be able to attach a document to a membership application. The option seems to be there in that I can map it but there is then an error message.

[2017-06-28 05:01] DouglasMcLellan opened #44 "Map to membership"
Hello

Is it possible to have a processor than can map a membership type (e.g. Full Member, Associate Member, Affiliate)?

Or am I missing something?

Thanks

[2017-06-28 06:29] agileware commented on #44
I don't think Memberships have been implemented yet at all. There is no Contributions integration. See #25

[2017-07-03 21:32] mecachisenros commented on #43
hi @danaskallman sorry for the late reply.
I'll get back to you with this by the end of the week, hopefully with it done :crossed_fingers:

[2017-07-03 22:49] agileware commented on #44
Thanks @mecachisenros

[2017-07-06 14:04] mikaweinstein opened #45 "Dedupe not working"
I've tried with a few different Dedupe Rules and on two different sites, and in all cases the form submissions are creating duplicates.

[2017-07-06 14:18] mecachisenros commented on #45
@mikaweinstein what version of Civi, CF and CFC do you have installed?

[2017-07-06 14:24] mikaweinstein commented on #45
@mecachisenros

On one site: CiviCRM 4.7.14, CF 1.5.2.1, CFC 0.4

On the other site: CiviCRM 4.7.10, CF 1.5.2.1, CFC 0.4

[2017-07-06 14:42] mecachisenros commented on #45
@mikaweinstein can you export the form in question and upload it here?
I'm not able to reproduce the issue, so it might be something specific to the form.

[2017-07-06 14:49] mikaweinstein commented on #45
I tried it with two custom forms on the first site, and the standard "Contact Form" template on the second site. Export of standard form here:

[contact-us-export.json.zip](https://github.com/mecachisenros/caldera-forms-civicrm/files/1128216/contact-us-export.json.zip)

[2017-07-06 19:43] mecachisenros commented on #45
@mikaweinstein this should be fixed against the master branch, thank you for reporting the bug.

I missed something refactoring. Also the form you attached didn't had an email location set, now the processor will have one selected by default, without the option to leave it empty or forget to set it.

[2017-07-06 19:43] #45 closed

[2017-07-06 19:51] mikaweinstein commented on #45
@mecachisenros Thank you so much!

[2017-07-18 15:43] KilakwaBT opened #47 "Is there a limit to the number of custom fields?"
I am building a large form with may custom fields. All is working well except a couple of the custom fields are not showing in the processor. I added a new one and it didn't show up. Is there is a limit to the number the processor will handle. I have over 25 custom fields to process.

Let me know.

Thanks!

[2017-07-18 15:53] KilakwaBT commented on #47
Just tried adding a new custom field group in Civi and those fields show up in the processor. Any thoughts? I can reorganize my custom field groups if there is a limitation to the number of fields in the group.

Thanks

[2017-07-18 23:51] mecachisenros commented on #47
@KilakwaBT thank you for reporting. There _was a limit_ of custom fields, if you have more than 25 Custom Groups sets or more than 25 Custom Fields per set that's probably why, the referenced commit should fix it. Just do a `git pull` against the master branch.

Another reason might be if you are trying to add a Custom Field that extends an entity that is not a **Contact, Individual, Household, Or

[2017-08-27 00:34] cdhassell opened #48 "Bleeding edge alpha?"
The README says the code is bleeding edge alpha stage.  Is that still true or is that comment a leftover from when it was first posted?

[2017-08-31 06:48] elizolivares opened #49 "Map to Employer"
Is it possible to have a select list field on a contact form that maps the individual contact to their employer? So a form with something like 'first_name', 'last_name', 'email', and 'employer_name', where the individual -> employer/organization relationship is created?

[2017-08-31 10:33] mecachisenros commented on #49
@elizolivares you can create a select field (or a text field) with predefined Companies/Organizations and map that field to the Individual's _Current Employer_ field, Civi will create the relationship when the Individual is created or updated.

Alternatively you can use two Contact processors, one for the Individual and another one for the Organization, then add a Relationship processor where you

[2017-08-31 10:39] mecachisenros commented on #48
@cdhassell I think a _Stable Beta_ would be more appropriate at this point, the plugin is being used in a few sites and the bugs that pop up I try to fix them as soon as possible.

[2017-08-31 23:40] elizolivares commented on #49
Aha! That first one worked out just fine in my testing. Thanks so much, this is a fantastic plugin!

[2017-09-01 08:17] mecachisenros commented on #49
@elizolivares glad you like it and find it useful, if you find any bugs or have any questions/requests feel free to open another issue.

I'll close this now.

[2017-09-01 08:17] #49 closed

[2017-09-02 16:49] cdhassell opened #50 "Activity processor fields limited to form fields"
When filling out the activity processor form, it looks like the fields are locked into selecting a form field.  For example, for "Subject" or "Details" I may want to type random text and then add a form field, like "Community event %event_date%" or some such.  But you cannot edit the subject field directly, you can only select one of the form fields.  Hopefully that is clear, see attached screensh

[2017-09-03 22:25] seascoot opened #51 "Various Invalid argument supplied for foreach() warnings from processors"
I'm getting a bunch or warnings and notices related to invalid arguments and undefined indexes when a page containing a Caldera form is loaded, even with no plugin processors active.
Here are the notices and call stacks fyi.

Warning | Invalid argument supplied for foreach() | 1 | wp-content/plugins/caldera-forms-civicrm/processors/contact/class-contact-processor.php:498 | CiviCRM_Caldera_Forms_Co

[2017-09-04 10:38] mecachisenros commented on #51
@seascoot can you report what Civi/WP/CF/CFC versions are you using as well the environment, I'm not able to reproduce the warnings.

[2017-09-04 10:57] mecachisenros commented on #50
@cdhassell I see, that can be done and makes sense, although I'll need to double check a couple of things before moving forward.

Meanwhile you can use a hidden field where you can have predefined values like "Community event %event_date%" and map the hidden field to the Subject/Details of the activity.

[2017-09-04 11:38] mecachisenros commented on #51
@seascoot can you give a go at the latest master branch and let me know if the warnings are gone?

[2017-09-04 21:21] seascoot commented on #51
Environment is:
Wordpress: 4.8.1
Woocommerce: 3.1.2
CiviCRM: 4.7.23
Caldera Forms: 1.5.5
Caldera Forms Civicrm: 0.4.1

Sorry - I meant to come back to my original post and edit this in but fell down the rabbit hole of chasing another issue.

Will test the latest master in the next hour.

[2017-09-04 23:59] seascoot commented on #51
Using the latest master most of the warnings have gone.  The notice and warning related to the email processor is still there however.

I have also had an issue with Auto populate contact data.  I'm not sure if it is related so I'll open a different issue.

[2017-09-05 00:29] seascoot opened #52 "Auto populate contact data causes bad page load for logged in user"
I'm using Woocommerce with a caldera-forms-civicrm form shortcode inside a custom product tab.  If Auto populate contact data is enabled for Contact 1 (only on that contact - not enabled elsewhere) the page displays fine for a non-logged in user.  If I log in as a non-admin user the page no longer loads properly:

- no product image
- no gallery images
- "Decription" and "Additional information" t

[2017-09-05 09:10] mecachisenros commented on #51
@seascoot what's the notice and warning related to the email processor?

[2017-09-05 19:31] seascoot commented on #51
PHP Error | Count | Location | Call Stack | Component
-- | -- | -- | -- | --
Warning | Invalid argument supplied for foreach() | 1 | wp-content/plugins/caldera-forms-civicrm/processors/email/class-email-processor.php:126 | CiviCRM_Caldera_Forms_Email_Processor->pre_render()wp-content/plugins/caldera-forms-civicrm/processors/email/class-email-processor.php:126apply_filters('caldera_forms_render_get

[2017-09-08 09:08] mecachisenros commented on #51
@seascoot all warnings should be fixed with latest master.

I'll close this issue.

[2017-09-08 09:08] #51 closed

[2017-09-08 09:11] mecachisenros commented on #52
Can you export the form in question and upload it here?
I'll try to reproduce this.

[2017-09-08 09:12] #37 closed

[2017-09-08 09:14] #14 closed

[2017-09-14 22:23] laryn commented on #43
+1 This would be great. I'm trying to do this in a work around for the moment but having issues that I'll post in another ticket.

[2017-09-14 22:28] laryn opened #54 "Second contact not loading"
I need to have the Contact 1 (Individual) be able to select their employer (Contact 2 - Organization) from a predetermined list, rather than just typing, to reduce duplicates. Ideally this could be an [Autocomplete select based on a CiviCRM group](https://github.com/mecachisenros/caldera-forms-civicrm/issues/43), but in the meantime I'm trying to set the Employer up as a basic select dropdown. I e

[2017-09-14 22:34] laryn commented on #54
Actually, I just realized in this case I can take advantage of the fact that "Current Employer" is a field on the Individual, so I don't need the second two processors!

The error still holds for anyone trying to do this with any other relationship besides employer, however.

[2017-09-15 16:48] laryn commented on #54
Update: Even using the 'Current Employer' field doesn't seem to use the dedupe rule I specified so I'm still ending up with duplicates.

[2017-09-16 04:23] mecachisenros commented on #54
@laryn I'll investigate this, but if you are on CiviCRM v4.7.24 I believe the referenced commit is related to this issue.

[2017-09-25 11:55] mecachisenros commented on #48
@cdhassell I've changed the readme

[2017-09-25 11:55] #48 closed

[2017-09-25 11:58] mecachisenros commented on #42
@loneprairie the [latest release](https://github.com/mecachisenros/caldera-forms-civicrm/releases) and master should fix this.

[2017-09-25 11:58] #42 closed

[2017-09-25 12:05] mecachisenros commented on #31
@danaskallman @DouglasMcLellan this has been implemented in the [latest release](https://github.com/mecachisenros/caldera-forms-civicrm/releases).

The **File** and **Advanced File** fields have a **CiviCRM File Upload**  setting, tick this setting to map it to a Contact Custom field, Activity Custom field, Note, and Activity attachment.

For the Activity attachment you can use the Advanced File t

[2017-09-25 12:05] #31 closed

[2017-09-25 12:08] mecachisenros commented on #54
@laryn any updates on this? I've just pushed a new release, if you test it please report back.

Re _Contact Autocomplete based on groups_, this will be soon available.

[2017-09-25 12:10] mecachisenros commented on #47
@KilakwaBT this should be fixed, I've pushed a [new release](https://github.com/mecachisenros/caldera-forms-civicrm/releases), if you still have this issues feel free to reopen it.

[2017-09-25 12:10] #47 closed

[2017-09-25 12:16] laryn commented on #54
@mecachisenros Thanks -- I'll test and report back!

[2017-09-25 12:23] JVeitia commented on #42
Thank you for this development, I'm finding it very useful in my organization's workflows/roles.

[2017-09-25 14:14] #26 closed

[2017-09-25 14:16] #27 closed

[2017-09-25 14:19] mecachisenros commented on #52
@seascoot can you test with the [latest release](https://github.com/mecachisenros/caldera-forms-civicrm/releases) and report back, there was an issue with the autopopulate option.

[2017-09-25 14:46] laryn commented on #54
@mecachisenros The relationships issue seems to be solved in the latest release. Thanks!

The Contact autocomplete (based on a group) functionality will be great to reduce redundancy and inconsistency over time, but this is a great start for what we need.

[2017-09-25 14:46] #54 closed

[2017-09-25 19:07] kingstringy opened #55 "select2.js error conflicts with Wordpress post editor"
An error in the dependency `select2.min.js` interferes with Wordpress post editor functionality: visual/text tabs and URL editor won't work, and visual editor plugins like Fusion Builder do not load.

Error message:
[code]

[2017-09-25 21:26] mecachisenros commented on #55
@kingstringy can you please try latest commit against master, make sure you clear browser cache.

[2017-09-25 21:43] kingstringy commented on #55
Looks like that fixed it, thanks

[2017-09-25 21:44] mecachisenros commented on #55
Good!

[2017-09-25 21:44] #55 closed

[2017-10-31 21:52] KilakwaBT opened #57 "Map multiple fields to the same custom field"
I have a form that has several conditional fields that are shown based on the selection from the previous field. The situation is that the user selects a region and location field that has the values for that region appears. The selection from the location field is then sent to the custom field in CiviCRM. Is it possible when mapping the fields in the processor to apply the field that is submitted

[2017-11-02 09:17] Saboteur777 opened #58 "Error on Activity creation using Activity Processor"
I got the following errors:
[code]

In error.log:
[code]

The settings of the Processor:
![image](https://user-images.githubusercontent.com/9061795/32318183-c1102b58-bfb6-11e7-92c8-7bae6bcb517c.png)

[2017-11-03 12:42] mecachisenros commented on #58
@Saboteur777 are you using the Activity processor on it's own, without a Contact processor? The  `source_contact_id` must be a valid CiviCRM contact ID, and currently is hard-coded to get the contact_id from the Contact processor

[2017-11-03 12:55] mecachisenros commented on #57
It's not possible to have multiple fields for a single processor field at the moment. I think for what you are trying to achieve, you could solve it using a hidden field with the value of %location_1%, %location_2%, etc. and map the hidden field to the custom field, if that makes sense, that way whatever the value or values of the location field it will get passed to Civi.

It would be useful if y

[2017-11-03 16:53] Saboteur777 commented on #58
Well, basically I would like to achieve something like this:

1. student logs in,
2. navigates to this activity form,
3. fills and sends it,
4. coworker in the office receives a notification about the submission,
5. logs into CiviCRM admin, where she/he can find the newly created activity

Students who want to apply for a scholarship have to provide some
documents. We would like to make this painl

[2017-11-03 17:21] mecachisenros commented on #58
That makes sense.

Yes the `source_contact_id` is [hardcoded](https://github.com/mecachisenros/caldera-forms-civicrm/blob/master/processors/activity/class-activity-processor.php#L72) on the processor for the Contact/User that submits the form, so that the Activity is created against the Contact that submits the form.

If you are getting a `Mandatory key missing from params array: source_contact_id

[2017-11-03 17:25] mecachisenros commented on #58
See image below, Contact processor and Activity _linked_ to the Contact

![activity](https://user-images.githubusercontent.com/3038096/32387292-e38dee26-c0bb-11e7-9576-30612628bf2c.JPG)

[2017-11-03 22:53] Saboteur777 commented on #58
Until now I didn't have Contact processor added to the form, but now I
added one, with the settings below:

[image: Szövegközi kép 1]

The Activity processor has this config:
[image: Szövegközi kép 2]

I might miss something really simple, sorry for this, but still not
working. :\

2017-11-03 18:25 GMT+01:00 Andrei Mondoc <notifications@github.com>:

--
Radics Ottó
+36 20 923 8883
Webmenedzser.hu

[2017-11-03 23:41] #52 closed

[2017-11-06 09:42] mecachisenros commented on #58
The images don't seem to be attached, you can also export the form as a json, in the Caldera Forms page, hover over the form in question and you'll see an export button, select the _Backup/Importable(JSON)_, upload it here so I can have a better look at the form configuration.

[2017-11-06 12:28] Saboteur777 commented on #58
Sorry for the missing images: I sent reply from GMail. I attached the exported file in tar.gz:

[civi-Ösztöndíj-űrlap-export.tar.gz](https://github.com/mecachisenros/caldera-forms-civicrm/files/1446160/civi-Osztondij-urlap-export.tar.gz)

[2017-11-06 13:01] mecachisenros commented on #58
Right, the Contact processor has to have the fields mapped as well, ie First name, Last name, email or any other fields you add to the form, like for example the Individual prefix, otherwise Civi won't be able to create a contact.

The Activity Contact Id, Target Contact Id, Source Contact Id and Assignee Contact Id on the Activity processor should be left empty, as those have to be a valid CiviCR

[2017-11-06 13:22] Saboteur777 commented on #58
Sir, thank you for your help, it worked!

I can't find this setting on my config:
![image](https://user-images.githubusercontent.com/9061795/32442974-b00e156e-c2fd-11e7-9288-ebddaa104737.png)

[2017-11-06 13:33] mecachisenros commented on #58
Hmm that's odd, can you double check that you have the 0.4.2 version installed?

[2017-11-06 13:34] mecachisenros commented on #58
That's when the file upload implementation was introduced.

[2017-11-06 14:42] Saboteur777 commented on #58
Sorry for missing this piece: it was 0.4 only. After upgrading the attachment shows up in the admin, every problem is solved now. :heart:

Thank you for your thorough help!

[2017-11-06 15:03] mecachisenros commented on #58
Glad it helped! I'll close the issue, if you have any problems feel free to open an issue here.

[2017-11-06 15:03] #58 closed

[2017-11-25 05:09] gzh1960 commented on #37
== Installation ==

1. Extract the plugin archive
1. Upload plugin files to your `/wp-content/plugins/` directory
1. Activate the plugin through the 'Plugins' menu in WordPress

[2017-12-02 21:26] marzast commented on #33
The same applies to custom field you specify for the activity, i.e. custom fields for certain activity type will be visible for all of them

[2018-01-28 21:16] twomice opened #61 "Create activity assigned to user"
I'm trying to have my Caldera form create a CiviCRM activity which is assigned to the logged in user.

I've got activity creation working (see the attached Caldera form, [test1-export.json.txt](https://github.com/mecachisenros/caldera-forms-civicrm/files/1671619/test1-export.json.txt)). But is there any way to make it be assigned to the logged in user?

[2018-01-30 00:33] mecachisenros commented on #61
@twomice latest commit 5392f986465715b8f89b705e365ed8669d7a6851 should address your case.

You'll find three new checkboxes (for Target, Source, and Assignee) in the Activity processor, as well as `select2` widgets for the same fields at the bottom :)

I haven't fully tested it, so feedback is highly appreciated.

[2018-03-06 05:12] clement888 opened #62 "Checksum support"
Hello, would you be able to point me to documents on how to use the checksum support for the plugin ?  I have googled and didn't see any documents on how to use the checksum support particularly on how to form the right URL for this.  Thanks.

Clement

[2018-03-06 14:29] danaskallman commented on #62
@clement888 there's reference to it in the [Features section of readme](https://github.com/mecachisenros/caldera-forms-civicrm#features), it would be something like this:

`example.com/support?cid={contact.contact_id}&{contact.checksum}`

The URL would be the WP page where the caldera form is added.

[2018-03-07 02:45] clement888 commented on #62
Hello Dana,

   Got it, that was useful.  i had thought the “support…” part of the example URL is to be added to the back of the form url.

    Is there a processor that can process the events tied to the contact ?

    Thanks for you help.

Clement

[2018-03-07 13:59] danaskallman commented on #62
There currently isn't an event processor, well really a participant processor, but it is planning. The main thing holding it up is lack of funding.

Glad that worked.

[2018-03-09 01:25] twomice commented on #61
Hi @mecachisenros. Am I using this functionality correctly? The attached very simple form ([form2-export.json.txt](https://github.com/mecachisenros/caldera-forms-civicrm/files/1795327/form2-export.json.txt)) has two processors:

- Contact processor ("Contact 1"): Has "Auto populate contact data with CiviCRM data if user is logged in. (Only for the first contact processor)" enabled. (I'm expecting

[2018-03-09 11:32] mecachisenros commented on #61
@twomice I've just tested the `form2` attached but it has no contact processor, that's why you get a `missing mandatory key` error as there's no `contact_id` passed to the Activity processor, all entities Activity, Relationship, Case, Group, etc. relay on the Contact processor and they **must** be linked to a Contact processor.

See attached this example [activity-example-export.json.txt](https://

[2018-03-09 14:37] twomice commented on #61
@mecachisenros Actually "Form2" does have a Contact processor (it's the one with id="fp_6509988" in the json), but your example suggests something that "Form2" is missing: actual form fields for the contact's name and email, which are then used in the relevant fields of the Contact processor.

So I tried adding these to my "Form 2", and got good results.

So, 2 questions:

1. Am I right to guess t

[2018-03-12 19:56] mecachisenros commented on #61
@twomice for some reason the Contact processor didn't show up when I've imported your form.

Back to tour questions:
1. Yes you are correct, the form fields need to be *mapped* to the Civi fields in the processor, for both, autopopulation of data (if user is logged in or via checksum), and for Contact creation/update, if those fields ar not mapped, no contact will be created (nor any other entity

[2018-03-12 21:04] twomice commented on #61
@mecachisenros
1. Got it. Thanks.

2. Yes, I think that's exactly the right way: _a decorator on the select2 widget (the entityRef-like fields) to add the option to select/link to a Contact processor and the option to set a spcifc Civi contact._

[2018-03-15 09:47] mecachisenros commented on #61
@twomice latest commit against master 93b13f859f0a8ce0401ec10636ced91b62c766a4 should address this. I suggest you clear browser cache.

Let me know if that works.

[2018-03-15 15:11] twomice commented on #61
Super -- will try. Thanks!

[2018-03-20 23:37] twomice commented on #61
Hi @mecachisenros With the latest code, I'm seeing that the Contact ID options (Target Contact ID; Source Contact ID; Assignee Contact ID) are all empty. I'm attaching the form json for reference:
[example_issue_61-export.json.txt](https://github.com/mecachisenros/caldera-forms-civicrm/files/1831592/example_issue_61-export.json.txt)

I'm also getting a JavaScript error which seems to be relevant:

[2018-03-26 12:13] mecachisenros commented on #61
@twomice I don't see what can be wrong, I've just tested on a clean Civi/WP install to double check, but I cannot reproduce the error.

There was a _missing_ semicolon but that shouldn't have affected it, I've created a new release, can you try pulling master again, with the version bump WP should load a fresh copy of the `admin.js` file.

Also, can you check the call stack to see where/what might

[2018-03-26 15:39] twomice commented on #61
Thanks, I'll look at it again.

[2018-03-26 17:17] danaskallman commented on #61
Just to make sure I am understanding correctly, am including screenshot of the select assign to contact in the processor. I added two contacts to a form, and added the activity processor and used the following to assign to contact 1 and 2. Is that the goal?

![activity-contact-connection](https://user-images.githubusercontent.com/1139085/37921488-fb964890-30f7-11e8-8050-759ebd3ec7e5.png)

[2018-03-26 17:31] twomice commented on #61
@mecachisenros Yes, that's what I expected to see. So it looks like the issue is that those three select2 controls are not being populated at all, probably due to whatever is causing that JS error. I'll look further and update the ticket here.

[2018-03-28 04:34] twomice commented on #61
@mecachisenros OK, found the cause of the error. It was actually caused by an older browser lacking support for ES6-style default parameters. See https://github.com/twomice/caldera-forms-civicrm/commit/5007909c1689d75a8f2bfd350be192360b4f919b for the relevant line. This is an outdated browser, so I'm not submitting a PR; just documenting for posterity.

[2018-03-28 04:47] twomice commented on #61
@mecachisenros And, to report on the new feature: Yes, it works great and has the intended effect: I can configure an Activity Processor so that the Assigned, With, and Target contacts are all references to the contact in a Contact Processor. Thanks!

One small usability issue is not a deal-breaker for me, but reporting as feedback:
When selecting one of these contacts, as in this image
![selector

[2018-04-11 08:26] ivanchimeno opened #63 "Checking for existing contacts on registration form submit"
Hi @mecachisenros,

first of all thank you for developing the plugin, it's amazing and very powerful!

I have a question regarding registering new contacts in CiviCRM via a registration form: I am currently using the contact processor to capture input from the user and finally creating a contact entry within CiviCRM. My problem is the fact that a duplicates are created when e.g the same name/email

[2018-04-11 09:57] mecachisenros commented on #63
@ivanchimeno glad you find the plugin useful!

A few things:
1. What you describe seems to be a bug or a misconfiguration, so before you start creating a new Processor, can you let me know what WP/Civi and Caldera Forms (CF) and Caldera Forms CiviCRM (CFC) version you are using, and if possible attach an export of the form in question here?
2. Re custom processor - when you register a Processor yo

[2018-04-11 10:02] mecachisenros commented on #62
Thank you for assisting with this @danaskallman

[2018-04-11 10:02] #62 closed

[2018-04-11 10:08] mecachisenros commented on #61
@twomice Ha! You start using ES6 _new_ features and give them for granted...

I'll amend both default parameter and usability issue in the next release.
Thank you for the feedback.

[2018-04-11 15:40] twomice commented on #61
:-)  Yeah, sad thing ES6 isn't so "new" anymore. But yeah, thanks for the continued improvements.

[2018-04-11 16:19] mecachisenros commented on #63
@ivanchimeno Got you, also the issue should be fixed via a75a6dec9ba0e96a1ff9743f667bb1df5002674c if you can test and report back would be great.

By `plugin should be pluggable (hooks)` I meant this plugin integration (CFC).

The Contact processor creation/update it's hooked to the `pre_processor` callback already, what I was trying  to say is that ideally you would have a *hook/s* which allow to

[2018-04-12 07:38] ivanchimeno commented on #63
@mecachisenros Thank you for your reply. I have tested the dedupe rules against the latest commit on the master branch and can say that it works!

[2018-04-12 08:41] mecachisenros commented on #63
@ivanchimeno Perfect! I'll close this issue then.

[2018-04-12 08:41] #63 closed

[2018-04-18 04:07] clement888 opened #64 "Uploaded Image through Caldera Form for CiviCRM cannot be previewed"
Hello there,

    I was trying out the file upload field of caldera form for civicrm to upload a image. the result was that the preview image cannot be shown in the summary/preview of image but is displayed properly when the contact is being edited.  i checked the image URL for both the preview and during edit, and apparantly they are different:

Preview URL: (broken)
https://www.example.com/civic

[2018-04-19 13:06] mecachisenros commented on #64
@clement888 could you upload an export of the form here (in json format) and specify your WP, CiviCRM, Caldera Forms (CF), and Caldera Forms CiviCRM (CFC) integration versions?

It's difficult to tell what it's going on and where to look, ie. is this a custom field or a core field, and on what entity (Activity, Contact, Note)?

[2018-04-20 08:03] clement888 commented on #64
Hello,

  Thanks for your help.  I have included the json file below.

  The field used here is a custom field for files within a contact.  the versions of the relevant software are:

Wordpress -  4.9.5
Civicrm - 4.7.29
Caldera Form - 1.5.9.1
Caldera for Civicrm - 0.4.2

After uploading, the image is shown like this in the contact summary:

but if i set to edit for the custom field, it becomes cor

[2018-04-20 09:06] mecachisenros commented on #64
@clement888 looks like when commenting from email, attachments and github doesn't process them, see below:
![capture](https://user-images.githubusercontent.com/3038096/39042297-5f47112e-4482-11e8-8472-311065b92792.JPG)

[2018-05-18 10:06] agilewarealok opened #65 "Plugin does not consider CiviCRM field limits and will attempt to submit data that exceeds the CiviCRM field data length"
CiviCRM refuses to process the submission with invalid data (e.g. Contact's first name greater then 64 characters) and Caldera does not respond to this error at all. The Caldera form will remain in a "submitting" state, with no feedback to the end user about the error.

## Steps to reproduce
1. Create a Caldera form with Two fields. First name and Last Name
2. Add CiviCRM Contact processor in form

[2018-05-18 11:07] mecachisenros commented on #65
@agilewarealok Thank you for the great explanation.

May I ask what version of the integration are you using?
What you mention I've already addressed, and most api calls to Civi are wrapped in try/catch block and moved the processing to the `pre_processor` callback where needed, see 7f340280fa08a3b2598578024b5e52dd653a17a2.
The form processing stops and an error is displayed.

I'm unable to reprod

[2018-05-20 11:16] agilewarealok commented on #65
@mecachisenros Thank you for the reply. Yes it looks like it has been fixed in 0.4.3 and we're using 0.4.2
We will update the plugin from our end.
Closing this issue as it has already been fixed in latest version.

[2018-05-20 11:16] #65 closed

[2018-06-16 19:19] Dubidubiduu commented on #44
So it's still not possible to add members through caldera form plugin, right?

[2018-06-18 21:14] mecachisenros commented on #44
@Dubidubiduu not at the moment.

[2018-06-20 16:17] sudama108 opened #66 "CiviCRM contact search box"
Hi There,

Firstly, you efforts with this CiviCRM integration is fantastic! Well done!
My question:
Is there a way to add a CiviCRM contact search box to a form, so a user who is submitting my form, can search for another contact and select that contact. I'm using this to allow the user to select a contact that he/she is related to. I have a custom field (drop down) to allow the user to select the

[2018-06-20 17:24] mecachisenros commented on #66
Thank you @sudama108

So if I understand correctly, you are referring to the Contact Reference field in CiviCRM, that's something that will be available in the next release, although I don't have a ETA as when that will be (relatively soonish).

Regarding relationships, you would like to expose the Relationship Types on the frontend so a user could select what's his/her relationship with another c

[2018-06-20 18:51] sudama108 commented on #66
Hi Andrei,

Thank you for the response and the feedback about the next release. Yes, exactly as you stated, I want the contact reference field as well as the relationship types exposed on the front-end so the user can select the relationship he/she has with another contact through the contact reference field.

Our non-profit spiritual organization (ISKCON Durban in South Africa) for whom I'm doing

[2018-06-25 08:42] clement888 commented on #64
Hello there,

  just to follow up on this issue, i have looked at the link to the uploaded file for both views are different.

I have uploaded a image file to be part of the record through Caldera form and tested to see whether there links to the image file is the same.

The broken link in the Summary View is:

https://1234.churchsys.info/civicrm?page=CiviCRM&q=civicrm/file&reset=1&id=22&eid=503

[2018-07-02 08:19] agilewarealok opened #67 "CFC-4: New activity getting created with null case."
## Overview
We've a form configured which creates CiviCRM case and then an activity which uses the created case as a reference.

Now the problem is, In latest version of the plugin **case** is being created in `processor` whereas **activity** is being created in `pre_processor`.

So Activity processor is trying to create an activity with invalid **case_id** resulting the form failure.

## Possible

[2018-07-16 16:56] kcristiano commented on #43
@mecachisenros This relates to the functionality I reviewed with you last week.   Let me know what needs to be done to make this happen.

[2018-07-16 17:03] danaskallman commented on #43
Note: The auto-complete in this case is tied the the default Organization field, so it's the `Current Employer` field that is tied to an Individual contact type that then also adds the Employee/Employer relationship.

[2018-08-03 20:04] paulsyhand opened #69 "Auto Populate Parent Organization information if logged in"
Hi,
Don't know if this is an issue, or user error, but I'm trying to figure out if this plugin will auto populate the users Parent organization information. I can get the form to update the organization info when the form is submitted, but need to display what is already in Civi. Is this possible? Thanks!

[2018-08-17 07:02] jusfreeman commented on #44
We've stopped work because @mecachisenros has done this already, https://github.com/mecachisenros/caldera-forms-civicrm/tree/0.4.4/processors/membership

Thanks @mecachisenros - can you close this issue as fixed?

[2018-08-17 09:42] mecachisenros commented on #44
@jusfreeman will close this with the next release (0.4.4) there are still a couple of things to polish.

[2018-08-17 10:00] mecachisenros commented on #69
Hi @paulsyhand if I understand correctly you want to auto populate data (like an address or custom fields) for a related contact ie Current Employer, that's currently not implemented (but it can be).

So to answer your question, no, it's currently not possible :)

Auto population (for now) only works for the first Contact processor (Contact 1).

[2018-08-17 10:01] mecachisenros commented on #67
@agilewarealok thank you and sorry for the radio silence, I'll get this merged in the next release, v0.4.4

[2018-08-18 06:29] agilewarealok commented on #67
@mecachisenros Thanks for getting this merged.

[2018-08-21 09:59] paulsyhand commented on #69
Thanks @mecachisenros for your feedback. Yes exactly what I was inquiring about.

[2018-09-21 00:23] mcollopy opened #70 "Phone/Email won't appear if multiples of same location type"
If phone Home:Landline and Home:Mobile are populated, the form returns blank.
Same as if 2 of the same location, email field is the same.
Is there a way to set the filter to Primary only?

[2018-10-03 10:19] KilakwaBT opened #72 "Install issue when there is no priceset"
I installed version 0.4.4 with Caldera Forms 1.7.3 on a site that does not use price sets. I was looking to use the CiviCRM Contact reference field feature after seeing the demo by @danaskallman at CiviCamp Hartford. After activation I received an http 500 error. Reviewed the logs (see below) and saw it seemed to be looking for a price set. I added a simple price set and all is fine now.  Here are

[2018-10-03 10:24] KilakwaBT opened #73 "Force results on Contact Reference Field"
Working with the new CiviCRM Contact Reference Field. This is a nice feature. Just wondering if it is possible to force the results. We have a group of locations that we want folks to select from. We would like to show them in a drop down list as opposed to having the user search. Let me know, I may be missing something.

Recent version has great additional features. Looking forward to diving in d

[2018-10-03 11:53] kcristiano commented on #72
@KilakwaBT  I was not able to reproduce this on my local WP 5.9.8 and CiviCRM 5.7-alpha setup.   I did git checkouts of https://github.com/tadpolecc/Caldera-Forms  the default branch is 1.7.2.1 (displays as 1.7.3-a1 in the admin) and https://github.com/mecachisenros/caldera-forms-civicrm.git  (checked out 0.4.4 branch)

I then activated via wp-cli and received no errors.

I then copied the Folders

[2018-10-03 12:20] kcristiano commented on #73
@KilakwaBT I like this idea (and if it currently works I missed it as well).   In https://github.com/TechToThePeople/publicautocomplete  you can limit by Group as detailed https://github.com/TechToThePeople/publicautocomplete#configuration

@mecachisenros Would this be a possible feature addition or did Bruce and I both miss a setting?

[2018-10-03 13:44] KilakwaBT commented on #72
Two things about the site that this occurred on.

- Both plugins were running in previous versions prior to moving to the most recent versions. I did delete them first and then reload via admin.
- Site is running PHP 5.6

I am going to try to set this up on a clean install later today to work with the new features. I'll update if trouble returns.

[2018-10-03 17:16] KilakwaBT commented on #73
I was missing this due to some CSS issues on the site I was testing. I loaded a form on another site and these do populate. You need to click the drop down arrow and the list comes up fine. Like I said the drop down created is having some CSS issues which was causing me to miss this.

Very nice feature!

[2018-10-03 20:05] KilakwaBT commented on #73
I see the field populates the contact name as the label and the contact ID as the value. I am looking to have the label & value be the contact name. I want to populate the contact name int a custom field in CiviCRM. I am poking around a bit. @mecachisenros or @kcristiano just wondering if this is a quick customization.

Thanks

[2018-10-03 22:45] mecachisenros commented on #72
@KilakwaBT thank you for reporting, I'll test on a clean install and report back.

[2018-10-03 23:00] mecachisenros commented on #73
@KilakwaBT the Caldera Forms (CF) Contact Reference field works for Civi Contact Reference custom fields as well.

I'm no sure I follow when you say ***have the label & value be the contact name*** are you trying to populate a `text` custom field?

[2018-10-03 23:05] mecachisenros commented on #44
Memberships are now supported in version 0.4.4.

[2018-10-03 23:05] #44 closed

[2018-10-03 23:13] mecachisenros commented on #70
@mcollopy thanks for reporting.

Can you elaborate on your environment CiviCRM version, WP version, Caldera Forms (CF) version, Caldera Forms CiviCRM (CFC) version?

I'm not able to reproduce the issue.

If a Contact has more than one phone/email for the same location **and** type ie two Home:Mobile the fields **won't auto populate** (auto fill when logged in or using a checksum link), this is a l

[2018-10-03 23:14] KilakwaBT commented on #73
@mecachisenros yes I am trying to populate the field with text as opposed to the ID. I have made some progress by doing the following:

In the field.php file I changed Line 38 from:
`id: result[0]['id'],`
to
`id: result[0]['sort_name'],`
and Line 67 from:
`options.push( { id: contact['id'], text: contact['sort_name'] } );`
to
`options.push( { id: contact['sort_name'], text: contact['sort_name'] }

[2018-10-03 23:16] mecachisenros commented on #61
@twomice I've removed the default parameter, and the usability issue should be fixed as well.
Feel free to reopen if there's anything else missing.

[2018-10-03 23:16] #61 closed

[2018-10-03 23:38] mecachisenros commented on #73
The Contact Reference field in Civi holds/relays on the `contact_id` so I wouldn't recommend going that path.

So if I understand correctly you are not using the Current Employer/Household/Custom Contact Reference at all, but you need the same functionality, but based on `sort_name` (as that's what your custom field has as values) instead of `contact_id`?

[2018-10-03 23:44] KilakwaBT commented on #73
Yes, we are trying to insert the `sort_name` into the field as text instead of `contact_id`. The field is a straight text field as opposed to a value set since the options will change based on the location status. Does that make sense?

[2018-10-04 00:01] mecachisenros commented on #73
It kind of make sense, I'm still a bit confused about the `options` and `options` *would change based on status* :) (a couple of screenshots would help)

So far my understanding is that you want a drop-down/select2/autocomple field that populates contacts based on some criteria like for example a group.

If that's the case then an easier solution would be to add those as an Autopopulate or Bulk in

[2018-10-04 00:08] mecachisenros commented on #73
The field mapping and pre population are already hookable [here](https://github.com/mecachisenros/caldera-forms-civicrm/blob/master/includes/class-civicrm-caldera-forms-helper.php#L451) and [here](https://github.com/mecachisenros/caldera-forms-civicrm/blob/master/includes/class-civicrm-caldera-forms-helper.php#L503) respectively, in fact the current implementation uses both filter to handle the cr

[2018-10-04 00:10] KilakwaBT commented on #73
The scenario is that each week they import locations and if the location's status of active or inactive. I have a sub-type of organization and the active locations go into a group. I was hoping to have the drop-down in the caldera change as the group changes and when selected put the location name into a custom field. Trying to avoid having the user have to update the Caldera field each time they

[2018-10-04 00:16] mcollopy commented on #70
CiviCRM 5.4.0
Wordpress Version 4.9.8
Caldera Forms Version 1.7.2
Caldera Forms CiviCRM Version 0.4.3

To replicate - create a form with a field 'Phone'
- add processor CiviCRM Contact 1
- enable Contact Phone
- select location 'Home' (or whatever location you have)
- add Magic Tag %phone%

On your contact record, edit to have only phone number e.g.
- location Home, type Mobile

Go to the form, se

[2018-10-04 01:11] mecachisenros commented on #70
Right, got you, that issue is fixed in the next release (CFC v0.4.4) which will be *released* very soon, you can update to the `master` branch or use the [0.4.4](https://github.com/mecachisenros/caldera-forms-civicrm/tree/0.4.4) branch.

[2018-10-05 05:13] agileware-fj opened #74 "Membership Renewal form with price field for expired members"
Preconditions
----
1. **caldera-forms-civicrm** version 0.4.4
2. User (*user*) with a membership that has already expired
3. Caldera-based Membership renewal form, configured for price field based membership

To Reproduce
----
1. Log in to Wordpress as *user*
2. Access the Membership renewal caldera form
3. Fill in any required details
3. Submit the form
4. → Receive success message
5. In CiviCRM,

[2018-10-05 10:27] mecachisenros commented on #74
@agileware-fj can you elaborate on how the the Membership processors is setup, ie Paid for membership, Price Field based membership type, etc. and how the Membership/Price Set (if applicable) is setup in CiviCRM to try reproduce the issue?

For flexibility sake, the implementation leaves some assumptions to the form implementer/form creator.

[2018-10-09 15:09] kcristiano commented on #64
@mecachisenros Have you had a chance to look at this?  I expect the file is getting the front end URL as it's being uploaded on the _front end_   Can we store the relative path and let CiviCRM determine how to display?

[2018-10-09 16:06] mecachisenros commented on #64
@kcristiano are you able to reproduce this? I haven't been able to, the URL in the form entry summary is the front end url, unless I'm misunderstanding something.

[2018-10-09 16:38] danaskallman commented on #43
This is now in 0.4.4, now merged into master. So closing issue

[2018-10-09 16:38] #43 closed

[2018-10-09 16:49] kcristiano commented on #64
@mecachisenros yes I can reproduce.   I'll send you a site you can see this on

[2018-10-09 17:08] mecachisenros commented on #64
Right, Summary view == Contact Summary!

I'll review and report back, I thought this was referring to the _Summary_ in CF's Entry viewer.

[2018-10-11 19:05] sudama108 opened #76 "Question - How to Upload a Contact Image"
We are capturing contacts in our congregation using Caldera Forms for CiviCRM. We have a field to upload a photo of the contact, so that it gets saved as a "Contact Image" in CiviCRM and when you view the contact in CiviCRM, the contacts photo shows up.

How do we do this with Calderia Forms?

[2018-10-12 00:28] mecachisenros commented on #76
@sudama108 is the 'Contact image' field a custom field?

[2018-10-12 03:01] mecachisenros commented on #64
This should be fixed via aea6aa25848472d3611189762f2d5930f70fb8ff.

[2018-10-12 04:15] jusfreeman commented on #74
Agileware Ref: CFC-5

[2018-10-12 04:19] agileware-fj commented on #74
@mecachisenros sorry about the delay – as I'm relaying information from our test team.

The form is configured with "Use Price Field based Membership Type", and the price set is configure with a single radio buttons fields describing a 1-year rolling term membership type.

[2018-10-12 06:19] jusfreeman opened #77 "CiviCRM Membership processor, add field to override default Membership Status"
For the CiviCRM Membership processor, can you please add a field to override default Membership Status. As we have a use case where the membership status for a new membership is not the first membership status in the list of memberships. It's a membership status that requires approval.

Thanks in advance, love your work 👍

[2018-10-12 06:58] sudama108 commented on #76
No, Contact image is available as default field in CiviCRM. Within CiviCRM, you have this option available when creating a new contact or editing an existing contact.

[2018-10-13 12:30] kcristiano commented on #72
@mecachisenros I ran into another 'edge case' related to this.  I updated to the master branch from 0.4.2.  I had immediate fatal errors.   As I updated from the command line, the errors only manifested when I ran a command.

`cv ext:list -L`  threw
[code]

`wp plugin deactivate caldera-forms-civicrm` threw
[code]

I was able to deactivate with `wp plugin deactivate caldera-forms0-civicrm --skip-p

[2018-10-14 19:27] mecachisenros commented on #76
@sudama108 this feature is implemented in the master branch through this commit 057102fafa9b4a33b3341d54236ea7065cb05bf8.

The Image Url field is now exposed in the Contact processor, to use it add a File field to your form, enable the **CiviCRM File Upload** setting on the field, and then map the File field to the Image Url in the Contact processor.

[2018-10-14 19:27] #76 closed

[2018-10-14 19:29] mecachisenros commented on #70
@mcollopy I'll close this as for now, feel free to reopen if needed.

[2018-10-14 19:29] #70 closed

[2018-10-15 00:28] mcollopy commented on #70
Tested and working - was able to set the phone type, and now 'mobile' appears.
Great work, thanks for your support.

[2018-10-15 09:54] mecachisenros commented on #64
@clement888 this should be fixed on master branch, **but** as per current Civi version (5.6) there's still an underlying issue where custom Civi File fields are created twice when submitted through CFC, the issue has been addressed in this [PR](https://github.com/civicrm/civicrm-core/pull/12931), so I suggest you apply the patch to your Civi instance and pull/download latest master branch.

[2018-10-15 09:54] #64 closed

[2018-10-15 10:13] mecachisenros commented on #74
I see, a few things that come to mind to check as I'm not able to reproduce, I've tested with paid and free Memberships:
1. what are the settings for the Membership type, if it's a fixed type plan, important to note **Fixed Period Start Day** and **Fixed Period Rollover Day**
2. check Membership Status Rules if there are any _custom/site specific_ ones

[2018-10-16 09:20] clement888 commented on #64
Hello Andrei,

   thanks for following up with this.  i have upgraded 0.4.4 onto my CIVICRM 5.3.2 on Wordpress and it works.  uploaded files thru caldera forms now render properly in the contact summary.  thanks again.

   i read the other issue you mentioned on file fields being created twice above, what would be the impact if i do not upgrade civicrm to 5.6 ?  thanks.

clement

[2018-10-16 19:01] sudama108 opened #78 "Notice: Undefined variable: transient in ../includes/class-civicrm-caldera-forms-forms.php on line 157"
Hi,

I get the following error when my form is loaded, after upgrading to v 0.4.4

Notice: Undefined variable: transient in .../wp-content/plugins/caldera-forms-civicrm-master/includes/class-civicrm-caldera-forms-forms.php on line 157

When I submit the form, I see these errors:

Notice: Undefined variable: transient in .../wp-content/plugins/caldera-forms-civicrm-master/includes/class-civicrm-cal

[2018-10-21 14:13] mecachisenros commented on #78
@sudama108 those notices should be fixed in latest master branch.

[2018-10-21 14:33] mecachisenros commented on #64
@clement888 the impact would be that each File uploaded through CFC will be duplicated (two entries in `civicrm_file` and `civicrm_entity_file` tables, and two files in the upload folder). So if you don't mind that...

By the way, I believe the patch will make it into CiviCRM 5.8 so version 5.6/5.7 are still affected.

You could apply the patch to your current install without upgrading Civi, as pe

[2018-10-21 14:35] mecachisenros commented on #72
I'll close this, feel free to reopen if needed.

[2018-10-21 14:35] #72 closed

[2018-10-21 14:36] #78 closed

[2018-10-22 14:43] mecachisenros commented on #74
@agileware-fj good to hear.

I suggest using the Order processor along with the Line Item processor for paid memberships, as those will **tie** Contribution and Membership together the way Civi does, and the Pay Later functionality is slightly better in the Order processor.

The people at Tadpole have a good [blog post](https://tadpole.cc/using-caldera-forms-civicrm-cfc-for-membership-registration

[2018-11-02 20:13] jusfreeman opened #79 "When using a CiviCRM Priceset as the Source for a field, use the same localisation, currency format and if tax is enabled, use the tax display format"
When using a CiviCRM Priceset as the Source for a field, use the same localisation, currency format and if tax is enabled, use the tax display format. These are defined in CiviCRM Localisation and CiviContribute, Component Settings.

For an Australian, localised CiviCRM. Currently, when using a Priceset as the source the values will be output like:
Membership Level 1 - 100

100 is missing the curr

[2018-11-02 20:21] jusfreeman opened #80 "For Membership Renewal Forms, how would we set the Users' existing Membership Type as the default selected option?"
For Membership Renewal Forms, how would we set the Users' existing Membership Type as the default selected option?

The Membership Type is populated by a CiviCRM Priceset and Caldera allows a Magic Tag to be used as the Default Option for the field.

The functionality required is that the users existing Membership Type is looked up in the CiviCRM Priceset used for the form field and then the first

[2018-11-05 14:17] mecachisenros commented on #80
@jusfreeman that would be a good feature, the easy solution would be to have a checkbox setting in the Auto Populate section of the field, we already know what [memberships](https://github.com/mecachisenros/caldera-forms-civicrm/blob/master/processors/membership/class-membership-processor.php#L199) the User has at render time (if it's logged in, or hits the form via checksum) so we could set the d

[2018-11-05 14:32] mecachisenros commented on #79
@jusfreeman thanks for the detailed explanation, agreed on the tax, I'll have a look and implement it.

The currency was on my todo list ,see [here](https://github.com/mecachisenros/caldera-forms-civicrm/blob/master/fields/presets/class-civicrm-price-sets-presets.php#L124), my view is that currency should be:
1. optional (be able to enable/disable in the field setting, as I've seen price fields wi

[2018-11-05 17:30] lordgretix opened #81 "Undefined index in class: class-contact-processor.php on lines 739 and 825"
Once created the form on trying to implement or preview it thows me and error because in the array $pr_id is not set the key=>value 'contact_link'.

I fixed it by my own by adding right before it next:

`if(!isset($pr_id['contact_link'])){
				$pr_id['contact_link'] = 'cid_'.$pr_id['config']['contact_link'];
			}`

[2018-11-15 22:20] michaelmcandrew opened #82 "cannot create activity: source_contact_id missing when specified as auto populated contact 1"
Not sure if this is a configuration issue or a bug, but I have contact 1 configured like this
![image](https://user-images.githubusercontent.com/209967/48584869-d5354c80-e922-11e8-8fde-692b4d355ab1.png)

and the activity configured like this
![image](https://user-images.githubusercontent.com/209967/48584916-feee7380-e922-11e8-8aa5-ac9804ed627d.png)
...
![image](https://user-images.githubuserconten

[2018-11-15 22:39] michaelmcandrew commented on #82
PS may or may not be related, but I am going to add a cheeky plug for a SE question on a similar topic: https://civicrm.stackexchange.com/questions/27361/what-is-the-purpose-of-contact-link-in-the-caldera-forms-activity-processor

[2018-11-19 20:42] mecachisenros commented on #82
@michaelmcandrew have you mapped the necessary fields for each Contact processor (First Name, Last Name, Email, etc.)?

If you haven't, that's likely the issue.
The Contact processor won't create/update a contact in Civi if there's missing data :) and the Activity processor will fail to create an Activity if there's a missing Contact.

I've attached an example form (imortable as `json`) that repli

[2018-11-19 20:57] mecachisenros commented on #79
@jusfreeman the initial work on this issue is in the `dev` branch, mainly this commit 39236b656ce7c25adde642862fe8870f82a34491 any testing/feedback is appreciated.

[2018-11-19 22:05] jusfreeman commented on #79
@mecachisenros legend mate! We'll take a look. Thanks very much.

[2018-11-20 05:47] jusfreeman commented on #79
@mecachisenros we've tested these changes and they work as expected:

1. Display of $AUD and Australian GST (tax) is now correct
2. Payments are correctly recorded as CiviCRM Contributions with the correct amount.

Thumbs up from Agileware 👍

[2018-11-20 13:19] michaelmcandrew commented on #82
@mecachisenros - thanks for the tip and the example and for you answer to my stack exchange question - I am understanding it better now :)

Just to explain my use case some more, on this particular form, my only interest in contact 1 is that they are the logged in person that submits the form. I don't want to collect any information about them. All of the fields I am collecting relate to contact 2

[2018-11-21 11:19] mecachisenros commented on #82
@michaelmcandrew got you, re '_it should not be a requirement to have at least one field present from contact 1_' I see what you mean, I'm not sure if removing that requirement is the best approach at the moment, let me have a think about it as I have some features in mind regarding auto population along with some refactoring.

Thank you for reminding me of the hidden field auto population, that f

[2018-11-22 10:48] michaelmcandrew commented on #82
thanks @mecachisenros for adding that setting! Very helpful. I will check it out. I'm curious as to why it was removed by default. Is there a use case for that behaviour?

[2018-11-22 10:55] mecachisenros commented on #82
There were a couple of use cases where you would want a _hard coded_ value for the hidden field but those would get overridden by Civi data at auto population/pre render stage.

[2018-11-22 11:15] michaelmcandrew commented on #82
ah yes - so you mean as a way to force an update of a field without the user being aware?

[2018-11-22 14:12] mecachisenros commented on #82
Yes, hidden fields (and any other field type) can be hidden/shown/loaded conditionally based on some other input, so you would force an update in Civi based on some user choice or other criteria.

[2018-11-22 14:57] michaelmcandrew commented on #82
got it - thanks :)

[2018-11-22 14:57] michaelmcandrew commented on #82
feel free to close :)

[2018-11-22 16:35] khalidrafique opened #86 "Membership processor - can't get fields to auto-populate"
Not sure if I'm doing something wrong - I want to auto-populate member since, membership start date, and membership end date fields in my form with the data for the contact's current membership. I have the fields selected in the processor settings, but the fields won't populate.

Am I misunderstanding how this works? I do get a notice at the top of the form stating the type of membership and membe

[2018-11-23 04:30] agileware-dat opened #87 "Tax calculated twice"
Hello,

Bug is found. In the contribution record, the price is taxed one more time.

Reproduce bug:

1. Set membership types with prices, for example "Member retired": $54.55 (this price excludes 10% GST)"

2. Create a price set for membership.

3. Add financial account named GST , choose "is tax" and tax rate is 10

4. Assign GST to member Dues types in Financial Types

5. Create a Caldera Form t

[2018-11-23 15:46] danaskallman commented on #86
@khalidrafique what format is the date field being used? Does it match the date field settings in CiviCRM? For example `MM/DD/YYYY` or default format set?

[2018-11-27 21:43] KilakwaBT opened #88 "Map to Image URL field"
I am setting up a form for updating member directory information this includes an image. Currently the images are stored in CiviCRM's Image URL field. When mapping the fields in the CiviCRM contact processor I don't see the option to map to this field.

Am I missing it or is it not an option? I could move the data to a custom field if that's the best way to go.

Let me know.

Thanks

[2018-11-27 21:47] danaskallman commented on #88
hey @KilakwaBT see #64

[2018-11-27 21:52] KilakwaBT commented on #88
@danaskallman I found it thanks! Got it working now!!

[2018-11-27 21:52] #88 closed

[2018-11-27 21:53] mecachisenros commented on #88
@KilakwaBT that was added recently (perhaps you need to do a git pull/download latest release [0.4.5](https://github.com/mecachisenros/caldera-forms-civicrm/releases/tag/0.4.5) ), see #76 and this screenshot:
![image_url](https://user-images.githubusercontent.com/3038096/49113886-95f5ec80-f28e-11e8-8162-ec35aeba4cdf.jpg)

[2018-11-27 21:54] mecachisenros commented on #87
@agileware-dat thanks for reporting, I'll investigate and get back to you.

[2018-11-27 21:55] #82 closed

[2018-11-27 21:56] KilakwaBT commented on #88
@mecachisenros Thanks, I found it and updated the plugin. All is good now! Thanks for all your work on this!!

[2018-11-27 22:00] mecachisenros commented on #86
@khalidrafique @danaskallman this is not currently implemented, as I didn't get to fully test it, but I'll get it sorted.

@khalidrafique if you would like to test on a dev site, uncomment this lines [here](https://github.com/mecachisenros/caldera-forms-civicrm/blob/master/processors/membership/class-membership-processor.php#L230), that should do it for the dates.

[2018-11-30 04:46] lordofthegithub opened #89 "New Custom Field Group, New Custom Fields and New Field Values NOT showing up in Caldera Processors for CiviCRM"
It appears that at the time the Plugin is installed, the Processors pull a Snap Shot of the Fields & Values, from CiviCRM.

Any subsequent changes in CiviCRM do not get reflected in the Processors or in the Caldera Layout Designer.

For example if you add
1.  New Custom Field Group
2. New Custom Field
3. New Values to custom field
4. Add new Tag values to existing Tags

These do not reflect in the

[2018-11-30 15:51] mecachisenros commented on #89
@lordofthegithub I'm not able to reproduce the issue, do you happen to use any type of cache system that might be causing this?

[2018-11-30 16:57] danaskallman commented on #89
@lordofthegithub I also close & reopen a Caldera form I'm working on if I make changes in Civi, that tends to then display any new data added.

[2018-11-30 19:29] jusfreeman opened #90 "Let's add the ability to create a recurring Contribution"
Let's add the ability to create a recurring Contribution, whereby:

- initial Contribution is created in CiviCRM
- CiviCRM payment processor then handles the recurring payment
- CiviCRM manages the recurring logic

I expect we just need to expose the parameters for the recurring Contribution on the Caldera Form so can be configured. Then this plugin can set up the initial Contribution with those p

[2018-11-30 20:04] jusfreeman commented on #77
@mecachisenros are you happy for us to submit a PR for this feature?

[2018-11-30 21:40] lordofthegithub commented on #89
Good point @mecachisenros --- I am going to verify the caching plugins; those could be the culprits.

@mecachisenros  thanks for a quick reply. There was a cache plugin W3, activated but the functionality was NOT enabled. That couldnt have been the suspect. To weed out the doubts, deleted a TAG and recreated the TAG; to see if the WP-CiviCRM plugin would pull the new tag after the W3 plugin was de

[2018-12-20 18:36] Dubidubiduu opened #92 "Auto Populate Select tag doesn't get cleaned up after deleting"
I'm in heavy testing Caldera forms for membership. After added a few Price shemes and Contribution pages the option autopopulate got a little bit messed up, so I tried to tidy up through deleting contribution pages and price shemes. But even after "Flush price sets cache" there are these old entries. (I don't believe I had that much, maybe the duplicates are already a caching prob)

Caldera 1.7.4

[2019-01-02 02:01] #89 closed

[2019-01-02 02:23] lordofthegithub opened #94 "Caldera Forms Processors exist but the fields for the processor do not show once saved."
Happy New Year all,

I have a unique issue.

I have created few Caldera Forms with CiviCRM Processors few weeks ago. Today when I open those Caldera Forms, I can see the processors listed on the left, but when I click on that processor, the system doesn't show me any fields and mappings on the right.

So, I tried to create a new form from template; at the time of creation, I can see the fields in

[2019-01-02 13:12] kcristiano commented on #94
@lordofthegithub I just tested a few Caldera Forms with CiviCRM.  WP 5.0.2 (With Classic Editor), CiviCRM 5.8.2, latest Caldera Forms and Caldera-Forms CiviCRM.    I can view and edit the forms and the processors.

I am running the latest dev branch of Caldera-forms-civicrm, but I don't think that should make a difference in what you are describing.

Do you have a caching plugin installed?   I hav

[2019-01-02 20:46] lordofthegithub commented on #94
@mwestergaard  and @kcristiano - Happy New Year and Thank You for prompt response.
I do not have a caching plugin.. @mecachisenros indicated in a different issue that the caching plugins could be an issue.. so I removed the caching plugins long back.

I have latest versions of WordFence security, JetPack, Yoast SEO, and other task specific plugins that are not even remotely connected with caching

[2019-01-02 21:59] lordofthegithub commented on #94
@mwestergaard - thank you again for prompt reply. I did check by changing the theme... still the same issue.. so it is not the theme issue .... and theme affects the Public website not the WordPress backend (in theory)... where you create and edit the Caldera Forms and processors.

[2019-01-03 10:08] lordofthegithub commented on #94
Another Issue that I noticed is that that the target fields names in CiviCRM have changed and now they have a suffix, that I did not assign manually.. and this has happened to each custom field that that I've been using to populate via the Caldera Forms CiviCRM plugin by @mecachisenros …. not sure if there is a connection but it is certainly intriguing, and puzzling as I am new to all this.

![git

[2019-01-09 07:40] sudama108 opened #95 "Notice: Undefined index: contact_link"
Hi There,

I get these errors in my form when it loads in our website. We are running:
CiviCRM 5.3.1
Caldera Forms 1.7.2
Caldera Forms CiviCRM 0.4.4

Notice: Undefined index: contact_link in .../wp-content/plugins/caldera-forms-civicrm-master/processors/contact/class-contact-processor.php on line 739

Notice: Undefined index: contact_link in .../wp-content/plugins/caldera-forms-civicrm-master/proc

[2019-01-09 15:49] danaskallman commented on #95
@sudama108 Caldera Forms should be 1.7.3 or above, can you update the plugin and test?

[2019-01-10 11:16] mecachisenros commented on #95
@sudama108 I'll get it sorted, although it doesn't affect the plugin functionality, it is annoying and makes noise in your logs.

Question, are you seeing the notices in the front end (public facing pages)?

[2019-01-10 11:34] mecachisenros commented on #94
@lordofthegithub this has nothing to do with Caldera Forms (CF) free version or Pro, there's no time limit in using CF (free version) as it is free and open source.

Regarding the timestamp appended to the Dropdown name, that's always been true for any custom field with custom options (Checkbox, Dropdown, Radios, etc) created in Civi for a long time (if not always?) and it's not an issue, note asi

[2019-01-10 11:38] mecachisenros commented on #92
@Dubidubiduu does the issue persist?

[2019-01-10 11:42] sudama108 commented on #95
@mecachisenros Yes, i'm seeing these in the front end (public facing pages) of our site. Thanks for the support.

[2019-01-10 11:53] mecachisenros commented on #95
Do you happen to have WP_DEBUG enabled (`define( 'WP_DEBUG', true )`) in your wp-config.php file? If so I would encourage you to disable it in production, if for any reason you do need debugging in production, disable the display of notices and warnings with `define( 'WP_DEBUG_DISPLAY', false )` and enable logging instead `define( 'WP_DEBUG_LOG', true )`.

More info on debugging in WordPress [here

[2019-01-10 12:01] sudama108 commented on #95
I currently have the following settings in my wp-config.php file:

ini_set('display_errors','Off');
ini_set('error_reporting', E_ALL );
define('WP_DEBUG', false);
define('WP_DEBUG_DISPLAY', false);

Therefore, I find it strange to still so those notices appear.

[2019-01-10 12:18] kcristiano commented on #95
@sudama108 There are some hosts that I have run into that have `display_errors` set to on.   I would check this and set `display_errors = Off` if that is not the value.

[2019-01-10 13:01] mecachisenros commented on #95
In theory the config order is like this:
1. `php.ini`
2. `.htaccess` / Apache directive
3. `wp-config.php`

I would double check php.ini and .htaccess files, or if your hosting uses some control panel (cPanel and alike) check its settings, and last I would do a `grep -r 'display_errors' /path/to/wordpress/directory/wp-content` and see if any plugin is overriding your settings.

Also I would set `e

[2019-01-19 01:31] lordofthegithub commented on #94
@mecachisenros thank you for your reply.
Looking into your suggestions... many thanks to this community for the help and suggestions... keep you all posted..

[2019-01-20 22:19] lordofthegithub opened #96 "Mandatory key(s) missing from params array: group_id, contact_id"
Hi CiviCRM/CalderaForms community,

I am seeing this error... and surprisingly I don't have these fields in my Caldera Form that interacts with CiviCRM using the CFC plugin developed by @mecachisenros. So I am wondering what could be the root cause. Thoughts @danaskallman @xHeliotrope @agilewarealok

### Mandatory key(s) missing from params array: group_id, contact_id

#0 /home/DOMAIN.COM/wp-conte

[2019-01-21 03:05] lordofthegithub commented on #96
Hi All,

I have found this thread : https://github.com/mecachisenros/caldera-forms-civicrm/issues/58
that I am going to follow to address the current issue #96.

However, I still haven't achieved a breakthrough in this https://github.com/mecachisenros/caldera-forms-civicrm/issues/94 regarding the processors; which apparently seems to be an environment/theme issue as per kind guidance of @mecachise

[2019-01-21 13:03] squeezeboxer commented on #32
Was there any movement on this one? We’re hoping to get an events processor or workaround for our free events.

[2019-01-21 15:34] mecachisenros commented on #32
@squeezeboxer a Participant processor (for free and paid events) has been developed in the [dev](https://github.com/mecachisenros/caldera-forms-civicrm/tree/dev) branch, I would suggest to test in test/staging environment first, and report here if you find any issues.

[2019-01-21 15:39] mecachisenros commented on #96
@lordofthegithub The error suggests that no _group_ (CiviCRM group) has been configured for the Group processor, or the Contact link is set to a Contact processor that is not present on the form, which makes sense if you are not able to view the Processor settings in #94

[2019-01-21 15:40] mecachisenros commented on #94
@lordofthegithub any developments? Have you tried disabling all plugins and themes as suggested?

[2019-01-21 23:35] agileware-fj commented on #87
@mecachisenros Just letting you know that I've assigned someone on our team to create a PR to fix this.

[2019-01-22 18:15] mecachisenros commented on #87
@agileware-fj my findings so far about this, `Order.create` checks if the LineItems total amount match with the Contribution total amount [here](https://github.com/civicrm/civicrm-core/blob/master/CRM/Contribute/BAO/Contribution.php#L4976), that function doesn't take into account `tax_amounts` so you will always get a '_Line item total doesn't match with total amount._' error.

My work around has

[2019-01-24 04:42] agileware-fj commented on #87
@mecachisenros Per #91 testing – On 5.9.1, if I comment out the line that adds the tax amount with the tax-fixes branch checked out, it records Contribution with correct amounts.

If I leave it in there, it fails with "Line item total doesn't match with total amount" error.

[2019-01-25 16:59] mecachisenros commented on #87
@agileware-fj got it, I removed the `tax_amount` in the Line Item processor, it was failing for me because I've forgot to flush price set cache.

This should be fixed now on the `dev` branch.

[2019-01-25 17:00] mecachisenros commented on #87
Fixed via 616a97d23fce940716334068835ee997d314a4c4.

[2019-01-28 22:46] lordofthegithub commented on #94
@mecachisenros thanks for the follow up... my production environment had various issues so I was unable to troubleshoot effectively for past 2 weeks.
I don't have a environments cloned from production to test this.
and in dev or other environments that are not cloned from production, I am unable to replicate the issue.

I did try your suggestions today, with no success.

I've just confirmed that w

[2019-01-28 22:54] lordofthegithub commented on #96
Thanks @mecachisenros. I've tried deactivating the plugins and still no luck. I need experienced pair of eyes to take a look at it. Sent you credentials and an email as well. Hopefully you can find my number from the emails that I've sent you and call back. Thanks again for a great plugin. Best. @lordofthegithub

[2019-01-28 23:59] agileware-fj commented on #87
Thanks @mecachisenros, I can confirm that's working.

[2019-01-29 02:43] lordofthegithub commented on #94
@mecachisenros - you're awesome.

Thanks for signing in to the system and figuring out the issue in no time. The integration issue was due to incongruent data (field values - string instead of integer) originating from CiviCRM.

This did rescue me; however, I did lose my field mappings in the processors .. currently remapping to and testing.
Thank to you @mecachisenros the issue is resolved.

[2019-01-29 02:43] #94 closed

[2019-02-04 06:05] lordofthegithub commented on #96
@mecachisenros Thank you for your help. This issue is now resolved.

[2019-02-04 06:05] #96 closed

[2019-02-04 06:54] lordofthegithub commented on #73
@mecachisenros @KilakwaBT @kcristiano

Hi guys.. I am facing an issue and probably its because I am new to all CiviCRM & CFC which is a great project by @mecachisenros.

I am using a Contact Reference Field in a Form; and when the Contact is successfully chosen, then I prefer to map it to Contact 2 and use the Contact 2 in the Process for Send Email. as shown in the images below.
The Contact 1 Pro

[2019-02-05 09:45] seedersdev opened #97 "Civicrm in create same record are marge"
We are using CiviCRM to create a new contact and generate a case. http://prntscr.com/mfjt7e

We have submitted the caldera form after we have got two entries, one for caldera form and second for CiviCRM. But in which the CiviCRM get that issue for the same email ID's two entry. http://prntscr.com/mfjvzn

1)You can see the case and contact. http://prntscr.com/mfk7hx
2)User register. http://prntscr.

[2019-02-11 09:39] lordofthegithub opened #98 "CiviCRM Contact Reference field How-To use it"
Hi all,

I am really glad that @mecachisenros has built such an amazing plugin for CiviCRM-Caldera Forms.

I would like to use the Contact Reference Field in the Caldera Forms in the following way:
https://www.menscommission.in/send-email-to-member-of-parliament/
The user fills his/her details, then selects the elected official and review the body of the text and then hit Send. The email should go

[2019-02-12 09:10] sudama108 commented on #95
An update on this issue:  I contacted my web hosting support. This was their response:
It seems that the custom error handler of CiviCRM, or its plugin, overrides the php.ini settings, but we could not find a way to fully disable error reporting for all scripts/plugins. Unfortunately, php.ini settings cannot override custom PHP code. To resolve the issue at hand, we added the following in the begi

[2019-02-15 02:36] jusfreeman commented on #80
@mecachisenros ping

[2019-02-21 14:23] clement888 opened #99 "Street Address field not filled as form gets more fields"
I experienced a peculiar situation when the Street Address field in CIViCRM is not filled by the value captured in the Caldera form though a simpler form was able to fill the Street Address.  Also in this situation, the other fields are successfully filled up.  It also seems that the Address field problem is somehow triggered by more fields being added to the form.  Also, as I tried again to submi

[2019-02-21 20:11] mecachisenros commented on #95
@sudama108 that's odd, this plugin (CFC) doesn't alter or add PHP's error reporting in any way.

I would suggest disabling the WP plugins one by one and checking if the notices are still present after each plugin deactivation.

[2019-02-22 01:29] clement888 commented on #99
Further updates on the issue i described:

1. Street Address field not filled
    Apparently the postal code is not being filled as well, the other fields outside of the address blocks are filled properly, including custom fields

2. Submission is stuck
    I have tried to use a incognito browser to submit the same form i had problem with immediately after and the submission went thru (though with

[2019-02-24 12:57] clement888 commented on #99
Further updates as I have some testing on another fresh CIVICRM install which accompanying fields might affect the address field:

1. I have used a simpler form and the Street Address is filled up, but the postal code and the country is not filled up
2. I remove the accompanying fields one by one and it seemed that once i removed 2 File fields (used for user to upload files), this caused the Stree

[2019-03-07 12:28] kirk-circle commented on #32
Hi @mecachisenros, we too need a participant processor for free events. Is the code for this in the [dev](https://github.com/mecachisenros/caldera-forms-civicrm/tree/dev) branch, or is it in the [process-participants-order](https://github.com/mecachisenros/caldera-forms-civicrm/tree/process-participants-order) branch? Thanks.

[2019-03-12 21:13] highfalutin commented on #90
Lemniscus & clients may be able to contribute a modest amount of funding toward this. It would be a big win.

[2019-03-12 23:29] jusfreeman commented on #90
@highfalutin that sounds great, feel free to discuss with me directly on sales@agileware.com.au

[2019-03-13 15:33] danaskallman commented on #90
On the WP channel yesterday @mecachisenros mentioned he would do research on the time it would take. Once we have that answer, we (Tadpole), will setup a place where folks can contribute towards that amount and @mecachisenros will get payment directly.

[2019-03-13 17:00] highfalutin commented on #90
Perfect! So glad that the lead developer is making this a priority, and I hope we can support with financial resources or otherwise.

[2019-03-13 23:03] jusfreeman commented on #90
@danaskallman are you thinking of setting up a CiviCRM Make it Happen campaign?

Just noticed that this request has been open for 4 months too.

[2019-03-13 23:06] jusfreeman commented on #79
Closing as this appears to be working now in the latest release.

[2019-03-13 23:06] #79 closed

[2019-03-13 23:08] jusfreeman commented on #80
@mecachisenros ping

[2019-03-13 23:08] jusfreeman commented on #77
@mecachisenros ping

[2019-03-13 23:08] agileware-dat commented on #87
Hi
I tested on dev 1.0.1 and it is working. I will close this issue.
Thanks

[2019-03-13 23:08] #87 closed

[2019-03-14 13:26] danaskallman commented on #32
This is merged into master, so am closing. We can re-open if needed.

[2019-03-14 13:26] #32 closed

[2019-03-15 02:20] kcristiano commented on #77
@jusfreeman do you see this as typical use case?

I am imagining that you would want to set the membership to "Upcoming" or "Next" (whatever custom status is needed) when this Membership is created not to conflict with other memberships.  Do I understand correctly?

What happens if the membership online payment fails or is a Pay Later, that would still need Pending Status, correct?   And then woul

[2019-03-15 02:29] kcristiano commented on #80
@mecachisenros When an existing membership exists, the status displays on the CFC form.   So CFC does have the ability to retrieve the current membership status now.   Could that be used to get the current membership Type and select it?

https://github.com/mecachisenros/caldera-forms-civicrm/blob/master/processors/membership/class-membership-processor.php#L275

This was added after the issue was o

[2019-03-16 19:30] fulltrucker opened #105 "Configurable actions (contact state) for Group Processor"
Right now, the Group processor only adds a contact to a specified group. Adding the ability to set the "state" of the contact when using the Group processor to something other than Added (e.g. Pending or Removed) could have some handy uses. For example:

1. Being able to add a contact to a group in a Pending state could facilitate a double opt-in workflow for mailing list signups. Using the HTML S

[2019-03-17 22:48] agileware-fj opened #106 "case_id is not a valid integer in Activity Processor – Case was not created"
**Describe the bug**

Activity processors linked up to a Case processor in an earlier step are failing to create the activities,  and an exception is thrown `case_id is not a valid Integer`.
This was originally filed as a handling bug, however on review the case is not created because of an incorrect configuration.
As such, refiling as a UX issue.

**To Reproduce**
Steps to reproduce the behavior:

[2019-03-17 22:48] agileware-fj commented on #106
Agileware ref SUP-8392

[2019-03-19 10:57] mecachisenros commented on #105
@fulltrucker thanks for the detailed use cases, this is a good feature to add and as you mention a useful one.

[2019-03-19 11:04] mecachisenros commented on #99
@clement888 sorry for the late reply, does the issue still persist with latest [release (1.0.2)](https://github.com/mecachisenros/caldera-forms-civicrm/releases/tag/1.0.2)?

[2019-03-19 11:17] mecachisenros commented on #98
@lordofthegithub I'm not sure I follow, the Email processor needs both the name and email address of the sender, the Contact Reference field returns only the name, so that won't work.

To update the plugin, simply deactivate and then delete your current version, and then download a zip or a specific [release](https://github.com/mecachisenros/caldera-forms-civicrm/releases) and upload to you site t

[2019-03-19 11:26] mecachisenros commented on #97
@Rohansystem sorry for the late reply, this is caused due to the Contact processor being _processed_ before the User registration processor, as a temporary solution you could add the following snippet to your theme's `functions.php`, once added, edit the form moving the User registration processor before the Contact processor and save, that should fix the issue.

[code]
I will address this in the

[2019-03-19 11:26] #95 closed

[2019-03-19 11:27] #92 closed

[2019-03-19 11:28] mecachisenros commented on #106
@agileware-fj thanks for reporting, I'll have a look.

[2019-03-19 15:24] kirk-circle opened #107 "Auto Populate from custom field source won't include more than 25 options"
**Description**
When a Dropdown Select field in Caldera Forms is set to Auto Populate from an Integer Select custom field in CiviCRM, the dropdown is only populated with 25 options. If the custom field has more than 25 options, then some will be missing.

**To Reproduce**
Steps to reproduce the behavior:
1. In CiviCRM, create an Integer Select custom field and add 26 options.
2. In Caldera Forms,

[2019-03-19 19:27] kirk-circle opened #108 "Contact Processor auto-populates dates in wrong format for Caldera Date Picker"
**Description**
When the CiviCRM Contact Processor is set to auto-populate the form with the logged in user's data, any date fields (e.g. Birth Date) are put into Caldera Date Pickers in the format yyyy-mm-dd, regardless of the CiviCRM date format setting and the Date Picker's format setting.

**To Reproduce**
1. Log in to WordPress.
2. In CiviCRM's admin settings, set the date format to dd/mm/yyy

[2019-03-20 04:00] clement888 commented on #99
Hello Andrei,

   Thanks for the new version.  I have installed it but the caldera form still only updated the custom field i setup for the street address but not he street address field itself, which remains blank.  Any idea what might have caused this ?

Clement

[2019-03-20 20:57] mecachisenros commented on #106
@agileware-fj in step 3, you shouldn't be able to save the form if no Case Subject is provided (Case Subject **is** a required field), this is what I get if I try saving the form without a Case Subject.

![case_subject_required](https://user-images.githubusercontent.com/3038096/54718558-ae965500-4b52-11e9-88af-3f68487ec37c.png)

[2019-03-20 21:12] mecachisenros commented on #107
@kirk-circle thanks for reporting, this is fixed via the referenced commit.

[2019-03-20 21:12] #107 closed

[2019-03-20 21:39] mecachisenros commented on #106
I've added a error message to notify that the Activity has not been created.

![activity_error_message](https://user-images.githubusercontent.com/3038096/54720863-709c2f80-4b58-11e9-9f69-77778ec72746.png)

[2019-03-21 01:05] agileware-fj commented on #106
@mecachisenros that's weird, as this is actually an error that came up on a production site where the case subject field was not filled in.  Caldera 1.8.2 and Caldera Forms CiviCRM 1.0.2, no patches.
We saved the form configuration multiple times, including alterations to the case processor, without running into any validation issues, before determining that the problem was the case subject was no

[2019-03-21 01:24] mecachisenros commented on #106
@agileware-fj that's odd indeed, that field [is required ](https://github.com/mecachisenros/caldera-forms-civicrm/blob/master/processors/case/case_config.php#L80).

I misunderstood your point thinking about the Activity, but yes, the Case will fail if no Subject is provided.

I think this should do it:
![case_error](https://user-images.githubusercontent.com/3038096/54728795-da780180-4b77-11e9-9e00

[2019-03-21 09:59] kirk-circle commented on #107
Thank you very much. In future I will try to submit a PR if and when I raise an issue.

[2019-03-21 10:33] kirk-circle commented on #108
I'm going to look at this today.

[2019-03-21 17:37] kirk-circle commented on #108
Submitted pull request #109.

[2019-03-21 22:14] agileware-fj commented on #106
Thanks, happy with that addition.

[2019-03-21 22:14] #106 closed

[2019-03-22 16:41] mecachisenros commented on #99
@clement888 can you upload an export of the form here?

[2019-03-22 17:17] clement888 commented on #99
hello Andrei,

   Here it is.  thanks.

Clement

[2019-03-27 21:02] mecachisenros commented on #99
@clement888 there's not attachment/export.

[2019-03-28 01:46] clement888 commented on #99
Hello Andrei,     I saw that i did attach the json export file in my last mail.  I have zipped the file and attach here again.  thanks.ClementOn 23 Mar 2019, at 1:17 AM, Clement Leong <clement@cloudsquire.com> wrote:hello Andrei,   Here it is.  thanks.Clement<2020-registration-form-export (2).json>On 23 Mar 2019, at 12:41 AM, Andrei Mondoc <notifications@github.com> wrote:@clement888 can you uploa

[2019-03-28 03:12] lordofthegithub commented on #98
@mecachisenros thanks for the reply.

Kindly look at the updated screen; I am capturing 4 details from the Sender:
1.Your First Name / Given name *
2.Your Last Name / Surname *
3.Your Email *
4.Your Mobile

The Recipients (are politicians contacts already) in my CiviCRM database. Which the user can select from the drop down list using your Contact Reference field.

The Intent is that
1. The Sender

[2019-03-28 10:53] kirk-circle commented on #108
Closing this issue as it has been resolved by #109.

[2019-03-28 10:53] #108 closed

[2019-04-03 14:12] fgarganese opened #110 "A form adding a contact with a note and a autofilled hidden field"
I want to publish a Caldera form to collect info requests, putting them in a CiviCRM Contact, using these standard fields:

- First and Last Name,
- Email,
- Phone,
- Contact Source (hidden and autofilled with a note about the web form arrival)
- Note (so the form creates a note for the contact).

I wasn't able to add a new contact with all the info, in this way, only email or modification of exis

[2019-04-08 17:03] KilakwaBT opened #111 "Overwrite of logged in user"
I have a form that is can only be accessed by logged in users. It is designed to add resources to a group for a directory. When the user completes the form users contact record is changed. The name, data collected on the form and more importantly the contact type is changed. There is one processor which is setup to add the organization. The Auto Populate checkbox is not checked.

[2019-04-08 18:13] KilakwaBT commented on #111
I added hidden fields for the first name, last name & email of the logged in contact and linked them to contact processor 1 with auto populate enabled. I switched the Org Contact to contact 2. This seems to have corrected the issue.

[2019-04-08 21:15] mecachisenros commented on #111
@KilakwaBT if I understand correctly what you are saying is that the logged in user auto-populates the form regardless if the Auto Populate checkbox is enabled or not, and therefore overriding its own contact data?

[2019-04-08 21:19] mecachisenros commented on #110
@fgarganese thank you for reporting, I suspect this is a bug and it's related to #111. It would be helpful if you can upload a `json` export of the form.

[2019-04-08 21:35] mecachisenros commented on #99
@clement888 just FYI, GitHub won't attach the zipped file replying to this thread via email, you'll have to do it from the browser.

[2019-04-08 23:11] mecachisenros commented on #111
@KilakwaBT can you test latest `dev` branch including this commit 77d70ca75a32c4ec498e26d6c5c9bc93ae56e4b4?

[2019-04-08 23:12] mecachisenros commented on #110
@fgarganese can you test latest `dev` branch and let me know if the issue still persists?

[2019-04-09 01:36] clement8888 commented on #99
Hello Andrei, here it is.  thanks.
[2020-registration-form-export (2).json.zip](https://github.com/mecachisenros/caldera-forms-civicrm/files/3056817/2020-registration-form-export.2.json.zip)

[2019-04-10 15:17] KilakwaBT commented on #111
@mecachisenros I just tested and the issue seems to be resolved in the latest dev branch

The issue was not quite that the form was auto populated but the logged in user was edited as opposed to a new contact being created. My quick fix turned out helpful as we added an activity so we knew when a logged in user added a new organization.

Thanks!!!

[2019-04-15 05:13] elizolivares opened #112 "CiviCRM Contact Reference Field not populating for anonymous user"
This is for CiviCRM 5.11.0, Wordpress 5.1.1, Caldera Forms 1.8.4, and Caldera Forms CiviCRM 1.0.2.

We have a form that collects name, phone number, email address, and employer. The Employer field is set to 'CiviCRM Contact reference', and the contact type is set to 'Organization'. When logged in, viewing the form presents no issues and the employer field auto populates from organizations in Civi.

[2019-04-23 16:40] evolluti0n commented on #99
Hi @clement888
Do you have any update to this case? Thanks a lot for your help.

[2019-04-24 01:13] clement888 commented on #99
Hell there, it is still the same problem.  I was hoping my submission of the json file of the form might shed some light.

[2019-05-14 19:45] KilakwaBT opened #113 "Conflict with Caldera Connected Forms add on"
Working with the Caldera Connected forms add on. I create several forms and the processors with CiviCRM each works correctly. When I try to create the form which does the connections of the forms into a single form and try to save that form it just spins and does not save. However, if I disable CIviCRM and create the connector form and save it saves fine. If I then reactivate CiviCRM and use the n

[2019-05-15 16:12] andyburnsco commented on #111
We do not use the auto populate function. However, does this resolve the bug I had thought was reported a few months back with logged in users getting their CRM record overwritten?

[2019-05-16 05:46] clement888 commented on #99
hello there, i redid the form again after i updraded Caldera Fom (1.8.4) and CalderaCIVICRM (1.0.2).  what happened was that the street address was inserted correctly into the civicrm record in the first few try of the forms.  however, i tried it a few days later, the same problem came back ie. the street addresses are not filled in again.  any ideas?

[2019-05-17 07:27] clement8888 commented on #99
hello, i did some testing of my earlier version of the forms to see whether there is any earlier form version that caused the problem by using caldera's feature to revert to earlier form versions.  While i thought i found a version that seems do not exhibit the problem, after testing other versions and going back to the one that was OK, i see that it is not able to submit Street Address again.  As

[2019-05-17 09:17] clement888 commented on #99
Hello, i did some further test and it seems that the breakdown happens after i added 4 long drop down list of Countries for the user to select.  Any insights?

[2019-07-08 10:13] clement888 opened #115 "Adding Participant Processor prevents expansion of Contact Processor tabs"
**Describe the bug**
Tabs below Contact Type does not expand when clicked after Participant Processor is added to form

**To Reproduce**
Steps to reproduce the behavior:
1. Create Form with Contact Processor
2. Click tabs below Contact Type (e.g Contact Standard Fields) to expand fields for editing
3. Tab expands fields under Contact Standard Fields
4. Add Participant Processor & save form
5. Cont

[2019-07-08 10:19] clement888 opened #116 "Adding of 2nd Participant Processor"
Is it possible to add a second or more Participant Processor to be linked to contacts captured in the form ?  I have tried adding a second Participant Processor and upon saving the form and  refreshing there are no more fields in the 2nd Participant Processor except for a Remove Processor button.  Thanks.

WordPress Version: 5.0.4PHP Version: 7.2.19-0ubuntu0.18.04.1MySQL Version: 5.7.26Caldera For

[2019-07-08 14:44] danaskallman commented on #116
@clement888 can you add screenshots? You are able to use multiple participant processors so it'll be helpful to see what you have in place?

Also do you have the latest version of repo on master of this plugin?

[2019-07-09 02:19] yannchwen opened #117 "Cannot submit form: "case_id is not a valid integer""
**Describe the bug**
The Caldera form on my client's website won't take submissions.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://apprenticelearning.org/get-involved/host-a-workplace-exploration/'
2. Fill out the form
3. See error:
"case_id is not a valid integer

#0 /var/www/colet/wordpress/wp-content/plugins/caldera-forms-civicrm/processors/activity/class-activity-process

[2019-07-09 13:50] danaskallman commented on #117
@yannchwen I worked with ya'll to set Civi up. Just took a look and case isn't being used so make sure those fields are blank in the processors. If you need support have Helen email me if needed.

[2019-07-12 04:50] clement888 commented on #116
@danaskallman thanks for looking into this.  i tried a new form after downloading the latest version from github and the same problem remains.  i can create the form and processor (2 contacts and 2 participants) and all works well.  when i save the form and get back to it again, the participant processor would become like this screenshot:
![p2](https://user-images.githubusercontent.com/37096892/61

[2019-07-12 04:51] clement888 commented on #115
A screen shot of the above.  this happens after you save the form and wanted to Edit it again from Caldera Form.
![p1](https://user-images.githubusercontent.com/37096892/61103243-c861fc00-a4a3-11e9-8b05-4f27ecc40bcb.png)

[2019-07-21 01:55] cdhassell opened #120 "Issues with v. 1.0.3"
Testing the new version 1.0.3, I am seeing "The site is experiencing technical difficulties. Please check your site admin email inbox for instructions" when I try to edit an existing form.  An email arrived at the admin inbox saying "please contact your host for further assistance" and citing this error:

[code]

Also noticed this in debug.log:
[code]

This only happened after upgrading from v. 0.

[2019-07-22 11:23] mecachisenros commented on #120
@cdhassell can you try this commit c06eda282655c40b3f4ac45ac6446f8db0919dc4 in the `dev` branch?

[2019-07-22 11:24] #111 closed

[2019-07-22 11:32] mecachisenros commented on #112
@elizolivares Auto-population only works for logged in users or users that access the form via a checksum, as long as the _Auto populate contact data..._ setting is enabled, also note that this functionality it's only possible for the first contact (the contact that submits the form, at least for now).

For an anonymous user the Contact Reference field should allow the user to search for Organisat

[2019-07-22 11:35] mecachisenros commented on #115
@clement888 can you test the latest release and let me know if the issue still persists?

There was a case where jQuery wouldn't be available but used in the processor template, which would break the UI as you described, and it should be fixed in the latest release.

[2019-07-22 11:38] mecachisenros commented on #116
@clement888 I believe this is related to #115, if you can test latest release would be great, if the issue persists please report back any browser's console errors.

[2019-07-22 11:43] mecachisenros commented on #117
@yannchwen please add an export of the form in json format here, it's difficult to tell what's going on without it, the Activity processor must be placed after the Case processor, if it's not, as the error suggests, there's no `case_id` as the case has not yet been created.

[2019-07-22 22:30] cdhassell commented on #120
That sorted it perfectly.  Thank you!

[2019-07-22 22:30] #120 closed

[2019-07-24 00:00] mecachisenros commented on #117
@yannchwen if the the error appears when the _Do not create Case if the contact already has a Case of same type_ setting is enabled, it should be fixed via be5fe7ef4970ae4d8907f24a282fc47e466ca676.

[2019-07-24 10:13] #25 closed

[2019-07-27 15:48] hcallens opened #122 "Warning when adding select field to form"
**Describe the bug**
When I add a select field to a form I get this warning:
Warning: Invalid argument supplied for foreach() in /home/mydomain/public_html/mysite/wp-content/plugins/cf-civicrm-master/includes/class-civicrm-caldera-forms-helper.php on line 880
When the form doesn't contain a select field there is no problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a custom fiel

[2019-08-07 16:04] #117 closed

[2019-08-07 16:04] #116 closed

[2019-08-07 16:05] #115 closed

[2019-08-08 00:53] clement8888 commented on #116
@mecachisenros I am happy to report this update resolved the issue. Thanks!

[2019-08-08 00:53] clement8888 commented on #115
@mecachisenros I am happy to report this update resolved the issue. Thanks!

[2019-08-19 15:03] lyonsdigital commented on #113
Holy crap! I've been chasing this through my system for the past week. I can absolutely confirm this issue. I've been going crazy trying to find a ModSecurity note or an apache error. I was looking to post something else and just saw this issue. In the short term, I am building 3 separate forms where I could separate users with a connected form instead. Please fix this.

[2019-08-19 15:57] lyonsdigital commented on #96
Similar issue here: Mandatory key(s) missing from params array: one of (first_name, last_name, email, display_name)

I'm not using a display_name and I don't see anywhere in the processor where I'd map it.

[2019-08-19 18:26] lyonsdigital opened #123 "Mandatory key(s) missing from params array: one of (first_name, last_name, email, display_name)"
I feel as if I'm missing the obvious, so I apologize in advance. I have a series of event registration forms that need to go up ASAP, but I'm getting the following error:

My test page is at https://fppta.org/?page_id=936&preview=1&cf_preview=CF5d4d7e489799a

I have first and last names as well as email defined but I don't see where display_name should be mapped, or even where it would come from.

[2019-08-20 17:03] andyburnsco commented on #62
Checksum does pre-fill but duplicates can be created by using Caldera Forms CiviCRM checksum. Wanting to note if someone else comes across this.

[2019-08-21 08:53] mecachisenros commented on #123
@lyonsdigital please try to fill in all requested info when filling a bug.

The display name is not mandatory, so assuming you have mapped the form fields correctly I'm not sure what the issue is without having a look at the form configuration, export the form in `json` format and paste it/upload it here, or upload screenshots.

[2019-08-21 09:00] mecachisenros commented on #113
@KilakwaBT @lyonsdigital thanks for reporting, CFC is not currently compatible with Connected Forms. I don't know what time it will take to fix it/integrate it so I don't know when it will be fixed, but feel free to take a stab at it, PRs are always welcome, equally ping me here if you're willing to sponsor this issue.

[2019-08-21 09:01] #112 closed

[2019-08-21 09:03] mecachisenros commented on #69
@paulsyhand this has been implemented in v1.0.4

[2019-08-21 09:03] #69 closed

[2019-08-21 09:09] mecachisenros commented on #62
@andyburnsco do you have any steps/details when duplicates are created? The dedupe in CFC is not bullet proof but I rarely get a duplicate, it would be useful to get more details to strengthen it.

[2019-08-21 14:45] lyonsdigital commented on #123
Here's the file that your requested. I had to change the file extension to post it. I'm also reviewing my fields.
[guest-fall-school-export.json.txt](https://github.com/mecachisenros/cf-civicrm/files/3525871/guest-fall-school-export.json.txt)

[2019-08-22 00:38] andyburnsco commented on #62
So as you know using a native civi profile the id is provided and it never creates a duplicate.

My case was having organizational sub contact type using checksum. In the setup for contact processor it asks for a dedupe rule etc. For checksum, that should be ignored. The checksum is only successful in one direction in my testing, it pulls data from Civi but saving to civi it is using the dedupe ru

[2019-08-22 00:58] andyburnsco commented on #62
I have also now tested individuals and doesn't dedupe. My contact processor is first in order and has **'Auto populate contact data with CiviCRM data if user is logged in. (Only for the first contact processor)'** checked.

[2019-08-22 14:33] lyonsdigital commented on #123
I reviewed all my inputs and I don't believe that I've missed anything and I continue to get this same result.

[2019-08-22 23:23] mecachisenros commented on #123
Right, this is not an issue with the plugin but your form configuration, from what I can gather it looks like you need to setup conditionals for the Contact processors which **might not be processed** (i.e. they are optional based on user input/selection), so that they are only used when their mapped fields are filled in (i.e not empty), so set the processor conditionals to only be **used** when _

[2019-08-22 23:24] #123 closed

[2019-08-24 21:23] mecachisenros commented on #62
@andyburnsco I see, thank you for the explanation.

I was referring to how CFC [implements deduping](civi_contact_dedupe).

Just to summarise and to make sure we are on the same page, what you are saying is that we shouldn't dedupe at all via checksum, and stick with CiviCRM's Profile behaviour, correct?

The decision to dedupe again when the form is submitted was because we don't currently have a

[2019-08-30 17:16] lyonsdigital commented on #123
Didn't mean to leave you hanging. That appears to be the fix. I'm moving forward through multiple deadlines. Thank you so much!

[2019-09-03 19:43] andyburnsco commented on #62
That link does not take me anywhere.

Correct, checksum is supposed to take care of deduping. The CID is provided, therefore there should be no other deduping going on when checksum is present. The CID is known, there is nothing else needed...

I think the days of forwarding emails is getting less and less. The message would be good, but I always put a note in the email saying **'this is your pers

[2019-09-10 12:02] squeezeboxer commented on #99
Are there updates on this issue? We just recently found that our form started doing this. I believe it started for us about a week ago.

[2019-09-17 11:40] Kwagga-Quagga opened #124 "File upload setting not displayed in french"
Hi
thank's for this plug-in it has a great potential !

**Describe the bug**

Since the release following  #31, it is possible to attatche file to various Civicrm core and custom field.

To do so, one have to check "CiviCRM File Upload" in the form fiel setting, however this checkbox do no apead when wordpress language is french.

**To Reproduce**
Steps to reproduce the behavior:

install wordpres

[2019-09-17 11:48] Kwagga-Quagga opened #125 "File upload setting not offered with advanced file uploader"
Hi
thank's for this plug-in it has a great potential !

**Describe the bug**

Since the release following  #31, it is possible to attatch file to various Civicrm core and custom field using both the file uploader and the advanced file uploader.

However the advanced file uploader setting do not offre the "civicrm file upload option", and the processor, both activity and note do not to use the adva

[2019-09-18 12:53] hcallens opened #126 "Conditionally add to group"
Is it possible to add a contact to a group based on the chosen option?

E.g. I have a language choice field where the user can check either one or both languages. If choice A is made the person is to be added to group A, if choice B is made then he is added to group B, and if he chooses both he is added to both groups.

Can this be done?

[2019-09-18 14:12] danaskallman commented on #126
@hcallens yeah, you would use the processor conditions to manage when the group processor is used based on a selection. Here's [docs](https://github.com/mecachisenros/cf-civicrm/blob/master/docs/overview.md#conditions) reference.

[2019-09-18 18:07] #126 closed

[2019-10-31 18:29] lyonsdigital opened #128 "Pay by check"
I'm stymied. I need to generate a contribution invoice for CiviCRM and my client offers the options to pay later by check or pay now by credit card.

Do I need separate contribution processors and conditions for each payment scenario? How do I pass the pay later back to CiviCRM?

Since a manager is processing recertification for multiple contacts, should I be using the order or contribution proces

[2019-11-01 13:20] mecachisenros commented on #128
@lyonsdigital

1. In your form add a Radio field (Payment method), in the field settings click _Bulk insert/Preset_ and select `CiviCRM Payment Methods` delete the lines that are not `Credit Card` and `Check`, so you end up with to lines like this:
[code]
Then click _Insert Options_.

2. In the Order processors settings check the box _Use Payment Method mapped field_, you'll see a new input right

[2019-11-01 13:20] #128 closed

[2019-11-01 16:45] lyonsdigital commented on #128
Looks good until I submit. Then I get:
'Pay later by check' is not a valid option for field payment_instrument_id

#0 /home/fpptaweb/public_html/wp-content/plugins/cf-civicrm/processors/order/class-order-processor.php(205): civicrm_api3('Order', 'create', Array)
#1 /home/fpptaweb/public_html/wp-content/plugins/caldera-forms/classes/core.php(3425): CiviCRM_Caldera_Forms_Order_Processor->processor(A

[2019-11-01 17:00] lyonsdigital commented on #128
Awesome! I had a small problem following directions but I figured it out. Thank you so much!!

[2019-11-04 15:29] lyonsdigital commented on #128
Thanks for all the help on this. It looks like everything is processing nicely. It looks like the line item information is passed to the Caldera outgoing email but is not passed to the CiviCRM invoice. Is that correct or should the line item detail be appearing in the CiviCRM invoice?

[2019-11-04 17:14] kapn1966 opened #129 "CF-CiviCRM and checksum behaviour"
I have a form I am using to manage workshop registrations over 4 sessions. each session has a drop down menu populated by 8 workshops. each workshop requires a processor. The processors work as expected for the first three sessions, but don't work for the fourth one. If I create a separate form for the fourth session it works fine. Is there a practical limit on the number of processors a form can

[2019-11-04 17:23] kapn1966 opened #130 "Event processor generates errors on events that are already registered"
I have a form which holds event names in a drop-down and has a processor for each event watching the dropdown. As I understand it, the processor is supposed to be triggered by the form submission. I have a condition set on each processor that has it respond only to a particular choice on the drop down. From the standpoint of doing the registration, this works as expected. However, if any registrat

[2019-11-04 18:43] mecachisenros commented on #128
@lyonsdigital all line items should appear in the invoice, what CiviCRM version are you on?

[2019-11-04 18:47] mecachisenros commented on #129
@kapn1966 There's not theoretical limit on the number of processors on the form.

Do you get an error when submitting the form?

[2019-11-04 18:57] mecachisenros commented on #130
@kapn1966 those are _warnings_ (not errors) based on the Event configuration, i.e. if you are already registered Civi won't let you re-register unless the _Same email address?_ setting is enabled on the Event, CFC replicates this behaviour and shows the warning/info boxes letting you know for what events you are already registered.

This happens for logged in users and users that hit the form via

[2019-11-04 19:00] mecachisenros commented on #125
@Kwagga-Quagga thank you for reporting, the plugin does not yet integrate with the Advanced File fields **2.0**, you can use the File fields version 1.0 meanwhile, those should work as expected.

[2019-11-04 19:23] lyonsdigital commented on #128
I'm on 5.13.4. I've created a page to recertify individuals. I'm getting an email with a long list of names who were recertified. I have an attatched CSV with the same information. However, it appears that the list is not transcribed to the invoice in CiviCRM. It would be nice to have that list of five names or fewer on the invoice for the member organization to see who they are paying to certify.

[2019-11-04 19:36] mecachisenros commented on #128
You need to upgrade to CiviCRM v5.16+ or include this patch civicrm/civicrm-core/pull/13477

[2019-11-04 19:37] lyonsdigital commented on #128
Thank you again

[2019-11-04 21:02] kapn1966 commented on #129
There is no error, it simply won't register the user for those events.
I haven't turned on logging -- I'm not sure where the plugin would do its logging.

[2019-11-04 21:08] kapn1966 commented on #130
Understood. At first I thought that the page was somehow re-posting a request that was triggering this.
The part that is strange and annoying is that the form has not been submitted. I have simply loaded a page that has a form in it. Nothing has been selected. There is simply the possibility that someone might pick a duplicate event and submit the form. Surely this is not reasonable behaviour?

[2019-11-04 21:55] mecachisenros commented on #130
@kapn1966 I see your point, but and that's CiviCRM's behaviour, if you registered for an event it won't let you re-register unless the mentioned setting is enabled.

If you just want to get rid of the warnings, you could remove them from a plugin or your child theme like so:
[code]
**Note**: removing this filter will only remove the warnings (for logged in/checksum users) when the form is loaded,

[2019-11-04 22:02] mecachisenros commented on #129
I see, the error would be thrown/displayed when submitting the form (the php error log would be useful as well, but the location varies depending on your environment), if there are no errors, the only reason a Participant processor won't register the user is because they are already registered, but that should stop the form from processing/submitting and display a message stating that they are alr

[2019-11-05 14:17] kapn1966 commented on #129
Thanks for taking a look. Here's the export file. In addition to the named problem, it often times out in the browser when switching from layout to processors to settings. It may be that the limit is just practical past a certain point and not some specific number.

[add-workshops-and-meals-export.zip](https://github.com/mecachisenros/cf-civicrm/files/3809357/add-workshops-and-meals-export.zip)

[2019-11-05 14:19] kapn1966 commented on #130
Thanks for your help. Unfortunately, I've had to abandon this way of registering participants for workshops as it doesn't seem to respect the registration limits for an event.

[2019-11-05 14:19] #130 closed

[2019-11-05 15:17] mecachisenros commented on #130
@kapn1966 what do you mean with 'it doesn't respect the registration limits'?

It doesn't show the message 'This event is full' when reaching the max number of participants?

[2019-11-05 17:19] lyonsdigital opened #131 "Membership "On behalf of""
All our members are organizations, I want to pass values from a selection to the "on behalf of" profile for membership renewal. Am I overlooking something obviious or can't I get there from here?

[2019-11-06 13:38] clement8888 opened #132 "Cannot upload files to CIVICRM (Stuck in submission)"
**Describe the bug**
Created a simple form that submits well without including a file, but would be stuck in submission when a file is chosen and submitted
However, when the record is checked in the CIVICRM, it would be created with the fields in the form, including the file is attached to the record as well.
In a longer form that has processors to link relationships, Contact1 would be created wit

[2019-11-06 13:47] Landhead opened #133 "auto-populate forms with more than one household-member"
Hi, thanks for the development of this nice plugin!

For a Wordpress-website I have user-accounts for each 'household' registered in CiviCRM. I want to give the Wordpress-user (indeed, the household-account) the ability to check and change the data of all the contacts with a relationship to that household. Therefore it would be nice to show the data that is available in CiviCRM, using the auto-pop

[2019-11-06 16:53] mecachisenros commented on #131
@lyonsdigital The 'on behalf of' feature is not implemented.

If you would like to sponsor this feature it would be a great addition.

[2019-11-06 17:35] lyonsdigital commented on #131
What would the cost be? I might have a client willing to do it.

[2019-11-06 17:51] mecachisenros commented on #132
@clement8888 can you test the latest `dev` branch and confirm if it foxes the issue, it must include this commit dab0d52

[2019-11-07 00:08] mecachisenros commented on #125
@Kwagga-Quagga this should now be fixed (via a1be8e4e544bbd35a652cf8d861d5c6c2e03a8bf) and it will be included in the next release, if you can test the latest `dev` branch and confirm it would be great.

[2019-11-08 10:18] clement8888 commented on #132
Hello, it's my first time including a commit, it is essentially adding the code in red into the file processors/contact/class-contact-processor.php  right?

If so, then unfortuantely it still didn't work, the error on the browser side is as follows:

(index):36 GET https://fonts.googleapis.com/css?family=%3A%26amp%3B net::ERR_ABORTED 400
jquery-migrate.min.js?ver=1.4.1:2 JQMIGRATE: Migrate is inst

[2019-11-08 13:17] mecachisenros commented on #132
@clement8888

nope, the code highlighted in red is a deletion :)

The best way to test would be to download the `dev` branch as zip file (click [here](https://github.com/mecachisenros/cf-civicrm/archive/dev.zip)), deactivate and delete your current CF CiviCRM version, and upload and activate the version you just downloaded, you can do all that from plugins page, Plugins -> Add new -> Upload Plugin

[2019-11-11 02:28] CoreyBurger commented on #133
Looks like there is a draft method to do this via custom queries: https://github.com/mecachisenros/cf-civicrm/pull/85

[2019-11-12 22:56] Upperholme commented on #33
It would be hugely helpful to be able to view and use the fields for the selected activity type, and only those fields. As a case in point I'm looking to use the Data Policy Acceptance activity type as created by the GDPR extension. But I'm see three fields listed, all labelled 'Terms and Conditions', so it's a process of trial and error to work out which one is actually used in this activity type

[2019-11-12 23:19] agileware-fj opened #137 "Group custom fields by their containing custom data group in processors"
**Is your feature request related to a problem? Please describe.**
Currently all custom fields are lumped together into one accordion grouping when configuring processors. This is problematic on side with more than a few custom fields, especially when some of them are named similarly from different groups.
We'd like these to be grouped by custom data group.

**Describe the solution you'd like**
Th

[2019-11-12 23:38] agileware-fj opened #138 "Auto populate options derived from custom data fields are are not sorted by containing group"
**Describe the bug**
When selecting auto populate source for "Select" type fields, the option sets derived from custom data fields do not appear to be sorted at all, let alone by their logical grouping in CiviCRM.  It looks like they just show up in the order they're inserted into the database, or possibly the field's weight at best.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a drop

[2019-11-13 18:06] kapn1966 opened #139 "testing if input email is a member of CiviCRM group"
I'm uncertain if this is currently possible and I just can't figure it out. I have what I thought would be a simple use scenario:

1. user arrives and enters email into field and presses submit.
2. if user is in a specified CiviCRM group, a customized (with CiviCRM tokens) email is sent to the user.
3. if user is not in group, a message is displayed on the screen and nothing else happens.

I can't

[2019-11-14 13:30] mecachisenros commented on #133
@Landhead glad you find the plugin useful!

This feature was not implemented, but it should be now, meaning that auto-population of multiple relationship of the same type should work.

If you can test the `dev` branch would be great, you can download the latest `dev` version [here](https://github.com/mecachisenros/cf-civicrm/archive/dev.zip).

@CoreyBurger the reference PR has some securities impl

[2019-11-14 13:31] mecachisenros commented on #137
@agileware-fj thanks for reporting, I'll take a look.

[2019-11-14 13:32] mecachisenros commented on #138
@agileware-fj sounds good.

[2019-11-14 13:32] #132 closed

[2019-11-14 13:33] #125 closed

[2019-11-14 18:49] CoreyBurger commented on #133
Question regarding the dev version - does it work for both Household -> Contact relationships as well as Contact -> Contact relationships?

[2019-11-14 19:09] KilakwaBT opened #140 "Custom field support for Address processor"
We are setting up a form that gives the user the option to add up to 3 addresses. We have a couple custom fields in a field set that is used for addresses. We would like that data to be inserted as part of the form process. It looks like this is currently not supported. The scenario is as follows:

There are two custom fields that attach to each address (which region is the address in & should it

[2019-11-14 20:44] Landhead commented on #133
@mecachisenros Thanks for your reply!

I've tested the dev-version.  I'm sorry, but unfortunately it is still not working for me. Each new field that I add for the next member of the household (including off course the necessary contact and relationship processor) gives me the same record. Only the first record of the relationship type 'Household member' shows up. My goal is to have all the record

[2019-11-15 08:20] Kwagga-Quagga commented on #125
Hi I just tested the dev version and the new release 1.0.5, work's great !
Thank's

[2019-11-15 15:47] mecachisenros commented on #124
👍

[2019-11-15 15:47] #124 closed

[2019-11-15 15:48] Kwagga-Quagga commented on #124
:+1:

Thank's

[2019-11-25 14:19] mecachisenros commented on #133
@Landhead can you try again the latest `dev` branch, it should be fixed now via ae9527a49922fe199aa46c5dcd13082026410aef.

<img width="541" alt="household_to_individual" src="https://user-images.githubusercontent.com/3038096/69547107-e7fa4c80-0f8c-11ea-84d9-1d1becee61e6.png">

@CoreyBurger yes, it should work for both directions.

<img width="560" alt="individual_to_individual" src="https://user-i

[2019-11-25 19:02] CoreyBurger commented on #133
That's fantastic. I only have my production environment, so cannot test but looking forward to it

[2019-12-03 04:57] andyburnsco opened #141 "Trailing spaces after name not trimmed"
**Describe the bug**
If a new signup enters any part of their name (first, middle, last) with a trailing space, the space is stored along with the name. This prevents a search on their name from working. I am not sure if this should be logged here or with Caldera Forms core but it is my best guess this is an issue with CFC.

**To Reproduce**
Submit a CF with a space.

**Expected behavior**
Names s

[2019-12-12 20:44] KilakwaBT opened #142 "Use a contact reference field to assign an activity to contact"
In a form that creates an activity a feature to use a contact CiviCRM contact reference field to assign the activity to a contact. Here is the scenario we are working with.

We have a form that allows staff to enter upcoming data on events or presentations they are doing. The form creates an activity for either depending on a condition (event or presentation) it also sends the schedule data to a G

[2019-12-19 00:32] Dubidubiduu opened #143 "Processors forms aren't shown | connected to #94, #96"
Most processors (e.x. Auto-reply, Line Item, Group) fail to show their form in browser, which means I can't change settings. Membership, Validate Mail and Contact are working.

Seems so me, it is connected to #94, and also #96. #96 is the reason I need to have a look at it in the first place.

Could be that I have changed a few group names for example, but shouldn't run into this problem?!

Get

[2020-01-23 03:31] alexmbb opened #145 "Don't see the CIVICRM processors in the processors list"
Installed the caldera forms and the cf-civicrm plugins
Created a form and when adding a processor I don't see there any processors related to civicrm
Is there any additional settings that I miss?
https://tinyurl.com/sppyq32

[2020-01-24 01:24] am2605 opened #146 "Uncaught TypeError: $ is not a function when adding Line Item"
I suspect this might be related to #94, #96, #143 but I'm not really certain.

The issue I'm seeing is that I have 2 Line Items Processors and an order processor.  In the order processor when I click the "Add Line Item" button it doesn't add a new item.  When I look in the Chrome Dev tools I see the following:

[code]

I've tried disabling every non Caldera Forms plugin I have, and have also tried

[2020-01-24 04:44] am2605 commented on #146
So a fix seems to be to edit processors/order/order_config.php and add var $j = jQuery.noConflict(); at about line 293, and then use references to $j instead of $

[2020-02-13 10:40] mwittmann opened #147 "How does one populate existing contact information for an arbitrary contact ID?"
I'd like to be able to use Caldera Forms CiviCRM to edit the information for an existing contact who is _not_ the logged in user.

How can I automatically populate the form with another contact's information? How could the contact ID be passed as a parameter?

[2020-02-24 06:17] clement8888 commented on #99
Hello, I did some testing and I think i found a solution to the problem.  Apparantly the Country field for the address has to be set to CIVICRM-Country option for it to work.  I was using the Country Options provided by Caldera and the whole address wasn't added to the respective record.  However, the address is added OK if I use CIVICRM-Country list as options instead.  I also captured the Countr

[2020-02-26 23:56] agileware-justin commented on #90
Repeating comment posted on CiviCRM Mattermost, https://chat.civicrm.org/civicrm/pl/nggkio59bib98kqa1hid4qopyo

@danaskallman @mecachisenros Agileware are working on setting up recurring contributions in Caldera Forms CiviCRM. Remembered that we had a bit of a discussion about it on the issue queue. Just checking in to see if anything actually happened?

[2020-02-27 16:02] Upperholme opened #148 "How to pass contact_id and checksum into a second form"
I'm moving from Drupal 7 to Wordpress and wondering how to achieve the following: In Drupal I can use a webform and webform_civicrm to create a contact record and then, on submission of the form, I can pass the contact id and checksum of the contact record that gets created on submission to a second form, in the URL, so that the second form is auto populated.

Can I do the same thing using CFC?

w

[2020-02-27 17:21] Upperholme opened #149 "Supported Payment Processors"
Not a feature request, rather just seeking clarification. Does this plugin support Caldera's Paypal express processor, enabling memberships tote bought and the transaction recorded in Civi? I ask as the available information sort of implies that all of Caldera's payment add-ons are supported, but there's nothing explicitly on this that I can find. And the changeling makes reference to just Stripe

[2020-03-03 23:30] JoeMurray opened #150 "Support for civiproxy?"
**Is your feature request related to a problem? Please describe.**
I would like to be able to use cf-civicrm on a WordPress site in front of CiviProxy to communicate through it to a WordPress / CiviCRM behind the proxy that is using cf-civicrm for an intranet site. We'd also add support for CiviVolunteer to cf-civicrm as part of this project.

**Describe the solution you'd like**
This would involv

[2020-03-05 12:45] philmck opened #151 "Location of uploaded file not saved"
**Describe the bug**
Files uploaded using Advanced File Uploader (2.0) are successfully saved to the Media Library and the correct URL is included in the email notification. However, when I try to include that URL in a (custom) field using a "Create CiviCRM Contact" processor, nothing is saved. A workaround is to retrieve the URL from the notification email and manually cut and paste it into CiviC

[2020-03-09 17:08] MikeyMJCO commented on #150
We'd like to see this supported as well!

[2020-03-11 02:56] clement8888 opened #152 "No "Contact is Deceased" field in Contact Processor"
Hello, i was looking for the "Contact is Deceased" field in the Contact Processor to link up with a field in Caldera Form, apparently there isn't any ? The other fields (gender, birthdate) in Demographic are present though.  Thanks.

WordPress Version: 5.3.2 PHP Version: 7.2.24-0ubuntu0.18.04.3 MySQL Version: 5.7.29 Caldera Forms Version: 1.8.10

[2020-03-12 05:47] clement8888 opened #153 "Dedupe Rule on Phone not working"
**Describe the bug**
If a Dedupe rule based on First Name, Last Name and Phone is used (weightage of 10 each), Caldera form will not match the record in CIVICRM and create a new record.  But using the same rule to find records wiithin CIVICRM will find the duplicated records correctly.  I created a custom field called NEW-PHONE and change the dedupe rule to use NEW-PHONE instead of Phone and it wi

[2020-03-15 19:37] Upperholme commented on #146
I'm seeing the same issue.

[2020-03-15 22:55] kcristiano commented on #146
@Upperholme is that on `processor-stage` branch?

[2020-03-18 15:42] Upperholme commented on #146
I'm using the release version 1.05. I made the edits suggested by @am2605 which appears to fix the issue.

[2020-03-30 02:12] twocs opened #156 "Caldera version not clear in WP readme."
**Describe the bug**

The [readme.txt](https://github.com/mecachisenros/cf-civicrm/blob/master/readme.txt) is vague about the necessary version of Caldera Forms. It says simply:

Caldera Forms is currently at 1.8.11. So is it a minimum of Caldera 1.8.1? Or only Caldera Forms 1.8.1 will be acceptable, no higher?

**Expected behavior**
Can the wording be clearer? Either:

This plugin requires a mini

[2020-04-01 22:39] elliottmart commented on #145
If you add a contact processor you should see the forms at bottom of that screen. Click on them eg. Custom Fields to expose the Civi fields to map to. Put magic fields in the Civi fields to match your caldera fields to civi. eg %my-caldera-field% in your civi custom field. Write back to me if you have a problem.

[2020-04-01 22:40] elliottmart commented on #156
I'm using it with CF 1.8.11 and it's going well!

[2020-04-01 22:44] elliottmart opened #157 "Can't use magic field %province:label% on civi province select"
I'm trying to display the label of my civi province select field in a caldera html field (eg. %province:label% ) but it renders blank (it does not recognize the :label). Can this be fixed or am I doing something wrong? Many thanks for a great plugin! It makes CIVICRM and Caldera Forms a great pair!!!

[2020-04-17 06:51] gpoole opened #158 "Membership form can't be submitted and shows spinner forever due to "Grace", "New" or "Current" statuses being missing"
**Describe the bug**
After creating a membership signup form, I found submitting it would cause the Civi API error `'Grace' is not a valid option for field status_id` and the form submission would silently fail. This was due to me setting up CFC with a legacy Civi install I had inherited where the `Grace` membership status was either removed or never present.

It looks like the error could be comi

[2020-05-09 07:17] CoreyBurger commented on #146
So this edit fixed one of the two related bugs I was having. I can now have 2 group processors, but cannot seem to have 2 participant processors

[2020-05-09 07:28] CoreyBurger opened #159 "JS error when adding Participant processors"
**Describe the bug**
When adding a participant processor, webconsole throws up TypeError: $ is not a function. Further, cannot see the 2nd and subsequent processor added (and they don't work)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a form
2. Go to processors
3. Add a participant processor. When first added, they are editable, but don't appear to save and on subsequent loadings

[2020-05-09 07:35] CoreyBurger commented on #159
And this was fixed in 1.0.5. Closing

[2020-05-09 07:35] #159 closed

[2020-05-11 02:10] twocs commented on #156
The Readme now says:

I think this is very clear now.

[2020-05-11 02:10] #156 closed

[2020-05-11 19:57] KilakwaBT opened #160 "Problem with Pay Later"
We have a membership form that we recently added a Pay Later option. Everything works OK with CC (using Stripe) but after an initial pay later transaction subsequent pay later transactions generate an error stating it cannot complete due to a duplicate transaction ID. The transaction ID field in the order processor is set to the Stripe ID but when a pay later transaction goes through it uses an ID

[2020-05-12 11:53] kcristiano commented on #160
@KilakwaBT are you using the `processor-stage` branch?  That is needed for all releases from CiviCRM 5.20.x on.

[2020-05-12 16:14] KilakwaBT commented on #160
I loaded the `processor-stage` branch. Still getting the error and the transaction doesn't go through but now it goes to the thank you screen so the member doesn't see the error for more then a few seconds. The first transaction still puts the transaction ID as listed above.

[2020-05-14 03:23] twocs opened #161 "Populating data CiviCRM forces updates of the data on change"
**Describe the bug**
I want to make it easier for the client who is logged to complete a form (e.g. a Contact Now form).
I selected "Auto populate contact data with CiviCRM data if user is logged in."

Data is populated into the form because the contact already exists.
If they modify the data (email address, name) then the data is modified in CiviCRM.

**Expected behavior**

If the user already ex

[2020-05-14 03:42] twocs commented on #161
A related concern, occurs even without prepopulated data: I do want to match existing contacts on the email field, to associate form entries. But I want to prevent any change of existing contacts details.

Currently if an anonymous user types in my email address on the contact form and a different title (prefix), submission of the form then modifies my title in CiviCRM.

I do want to create a cont

[2020-05-25 04:39] clement8888 opened #162 "Disabled Options still being used in Caldera Auto-Populate"
**Describe the bug**
When there is a dropdown CIVICRM custom field options where some are disabled, these disabled options are still selectable at Caldera Form in Auto Populate using the CIVICRM Field

**To Reproduce**
Create a custom field of multiple options
Disable some of the options
Create a Caldera field using the Auto Populate using the CIVICRM Custom Field
All the options whether disabled

[2020-06-12 04:07] lcdservices opened #163 "Unable to use Advanced File 2.0 field with an activity custom file field"
**Describe the bug**
Unable to use Advanced File 2.0 field with an activity custom file field.

**To Reproduce**
1. Create a custom file field attached to activities
2. Create a Caldera form and add a first name, last name, and advanced file uploader 2.0 field
3. Configure a Contact Processor and Activity Processor. connect the file uploader 2.0 field to the activity custom file field you created

[2020-06-16 17:28] aydun commented on #150
Did this idea progress outside of this issue?

[2020-06-26 12:23] Upperholme opened #166 "Expose relationship start/end dates in relationship processor"
**Is your feature request related to a problem? Please describe.**
I would like to be able to collect data about start and end dates of relationships. For example, I'm using a form to collect information about counsellors. This includes information about who the counsellor's supervisor is. If the counsellor changes who their supervisor is, it is important to know when the relationship ended with t

[2020-06-28 19:07] danielstrum commented on #148
I would also love to have this functionality. Perhaps we could sponsor this development?

[2020-06-29 14:24] danaskallman commented on #148
Do you mean using [variables](https://github.com/mecachisenros/cf-civicrm/blob/master/docs/overview.md#variables)? Here's [Caldera Docs about Connecting Two Caldera Forms Using Passback Variables](https://calderaforms.com/doc/using-form-variables/). Let me know if that's what you are looking for.

[2020-06-29 14:31] Upperholme commented on #148
Does this approach work given the use case I've outlined in the original post? I couldn't work out how to access the contact ID or checksum form within the first form. In Drupal this is pretty straightforward, but with WP and Caldera I'm not at all clear, hence the question.

[2020-06-29 14:35] danielstrum commented on #148
Hi Dana, Thanks for replying (and I hope you are well). Exactly as @Upperholme says, we would need to set a variable for the contact_id and checksum but there does not seem to be any way to do that?

[2020-07-01 13:08] clement8888 commented on #152
Any advise on this ?  Thanks.

[2020-07-02 04:11] clement8888 opened #167 "Change Log Time for Record Created by Caldera Form is under UTC time"
**Describe the bug**
When creating a CIVICRM record via Caldera Form, the Change Log of the time of record creation is always in UTC time even when PHP and MySQL and WP settings are set to another timezone.  This problem goes away when CIVCRM Detailed Logging is turned on.  It reverts back to UTC time when Detailed Logging is turn off.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a

[2020-07-02 14:36] hcallens opened #168 "Mandatory key(s) missing from params array: source_contact_id"
When as a non logged in user I try to submit my form I get a bunch of errors like this:

Mandatory key(s) missing from params array: source_contact_id

#0 ***/wp-content/plugins/cf-civicrm/processors/activity/class-activity-processor.php(117): civicrm_api3('Activity', 'create', Array)
#1 ***/wp-content/plugins/caldera-forms/classes/core.php(3435): CiviCRM_Caldera_Forms_Activity_Processor->processo

[2020-07-10 19:23] kelizoliva opened #169 "Time zone posting events to civi in UT rather than system or CMS time zone"
We have CF set up for taking event registrations. The timestamps on the CF entries are in the correct Pacific Coast time, however the time stamps in Civi on the activity and the participant record are set to what looks like UT.

The WordPress timezone is set to Pacific, and the system time (mysql and php) is also set to Pacific. There are no reports in the Civi status page of a timezone mismatch.

[2020-07-16 10:55] hcallens commented on #168
The problem was that I didn't add the magic tags for name and email in the contact fields of Contact 1. Problem solved.

[2020-07-16 10:55] #168 closed

[2020-07-19 00:32] gvanhoy opened #170 "Stripe Processor Broken Redirect"
**Describe the bug**
Using Stripe Payment Processor on any form yields an error after submitting payment.

**Other Information**
The payment successfully goes through, but redirecting back to the form causes a critical error on the site. I am not redirecting using a processor. I only have a stripe payment processor. The only reason I am posting here is because disabling this plugin allows payments

[2020-07-19 22:11] gvanhoy commented on #170
Additional information: By flushing the cache and deleting all transients, this error does not occur for at least one form submission.

[2020-07-21 19:59] #133 closed

[2020-07-21 21:02] #138 closed

[2020-07-21 21:03] #145 closed

[2020-07-21 21:04] #143 closed

[2020-07-21 21:04] #146 closed

[2020-07-21 21:04] #140 closed

[2020-07-21 21:30] #141 closed

[2020-07-21 21:37] mecachisenros commented on #147
This will be available in the next release, or you can test on the current `dev` branch.

You can add the contact ID as a query arg to the url where you have the form i.e. `cid=123` where `123` is the contact ID, for example if your form is at `https://example.org/some-page` you would add the query arg like so `https://example.org/some-page/?cid=123`.

If you have enough permissions to edit that c

[2020-07-21 21:38] #147 closed

[2020-07-26 23:35] agileware-justin commented on #169
Same issue as https://github.com/mecachisenros/cf-civicrm/issues/167

[2020-07-29 08:47] kirk-circle commented on #166
Hi @mecachisenros, I also need this feature asap. I'm going to try to submit a PR for it today (against the dev branch). Have you done any work or got any pointers for me before I get started?

[2020-07-29 15:47] kirk-circle commented on #166
Raised PR #174.

[2020-07-31 02:16] kelizoliva commented on #167
Ah, yes, looks like this is exactly what we are experiencing. It is causing significant issues for event registrations, for folks registering the day of (a few hours before) an event. Will try to turn on detailed logging to see if this makes a difference for this, however detailed logging is definitely overkill for the civi this is affecting for us, and would prefer to have it turned off.

[2020-08-04 11:07] Vladsprin opened #176 "conflict between CiviCRM and Caldera Forms Users"
When the addon "Caldera Forms Users" is activated, civiCRM (admin menu) says "Network error: Unable to reach the server".

With: Twenty Twenty, Caldera forms 1.9.1, CiviCRM 5.27.0 and no other plugin enabled, it works.
As soon as I activate Caldera Forms Users 1.3.10 the problem appears!

CiviCRM is a very complex plugin and it is difficult for Caldera support to resolve this conflict. Given your

[2020-08-17 12:10] twocs commented on #170
on line 608 of class-order-processor.php
$transdata['stripe']->balance_transaction is accessed.

But nowhere else in the code is the value of $transdata['stripe'] set to a thing... What is going on with this variable?

[2020-08-18 05:49] twocs commented on #170
We found an older version of cf-stripe 1.4.7 on a client's server so looked at its code.

They have updated cf-stripe, so it no longer stores its data in $transdata. Here's an example of old version (1.4.7 can work with cf-civicrm) and new version (1.4.11, utterly broken with cf-civicrm)

1.4.7: cf_stripe_process_token assigns $transdata:
	$transdata['stripe'] = $charge;
1.4.11: No assignment of a

[2020-08-18 08:14] twocs commented on #149
In my opinion, cf-civicrm orders and contributions only really support stripe and auth.net as there needs to be data binding to the various variables. It would require extra hooks with the relevant bindings to enable other payments.

[2020-08-18 10:46] twocs commented on #170
`Stripe\BalanceTransaction::retrieve(NULL)`
This line of the output shows that there's no Stripe data in `$transdata['stripe']`

Is there another branch of the repo that handles this plugin? Not really clear from the Readme if cf-stripe 1.4.9+ is not supported.

[2020-08-27 18:40] andyburnsco commented on #62
To get a checksum in CFC to always dedupe you need to auto populate hidden fields that meet your selected dedupe rule e.g. if rule is first last and email include first, last and email.

[2020-08-27 20:13] rbaugh opened #177 "State Filed population issue"
I think I have come across an issue with the State/Province population function in the helper file. The logic is checking for the countryLimit setting from CiviCRM. Teh CiviCRM notes states that if you don't want to limit any countries, to leave the right side select field empty. But, this is causing the check on line 294 to essentially unset all state/province results from CiviCRM. It seems like

[2020-08-27 23:19] rbaugh opened #178 "civicrm_state field not catching cf.form.init trigger"
**Describe the bug**
I used the "CiviCRM Contact and Address" form template to create a quick test form. When loading up the form on the CF preview option or added as shortcode to a blank page, the cf.form.init trigger doesn't ever seem to kick in. I added an alert script to the `$( document ).on( 'cf.form.init cf.add', function( e, data ) {` script and could not get it to fire. I then changed the

[2020-09-09 19:34] kapn1966 opened #180 "Add "fee amount" to contribution processor"
**Is your feature request related to a problem? Please describe.**
I am unable to add the fee amount (i.e. what the processor charges for a transaction) when using the contribution processor. There is an additional problem that the fee amount is not captured by the CF-Stripe plugin, but I assume that is a problem for the Caldera team, not for you.

**Describe the solution you'd like**
I'd like a f

[2020-09-14 13:33] cheveuxroux69 opened #181 "Add "Write Empty/Blank field values" to Phone Processor"
The CiviCRM Address processor has an option that allows address fields to be "unset" if there is no data
[code]
However there is no way to "unset" or clear a phone number using the CiviCRM Phone processor, because the equivalent option is not there. Could this please be added to the Phone processor?

[2020-10-06 18:39] rbaugh commented on #149
How do you get to the Authorize.net transaction ID for an order processor? When looking at the magic tag list, it doesn't identify the Caldera forms Authorize payment processor added to the form.

[2020-10-06 21:36] agileware-justin commented on #149
Just a FYI. We developed a payment processor for Caldera Forms using the eWAY Rapid API, see https://github.com/agileware/cf-eway

And we use this with Caldera Forms CiviCRM.

[2020-10-06 22:36] rbaugh commented on #149
@agileware-justin Thank you for your reply, but we are already using Authorize.net for this client and looking to find out how to access the transaction ID from the Authorize.net processor to set in the Order processor. Seems in the examples, the payment processor is Stripe and uses stripe:id for the transaction ID, but I need this for Authorize.net. We are using the SIngle Payment processor if th

[2020-10-06 22:43] agileware-justin commented on #149
Addressing the original issue question:

Yes, we have used PayPal Express successfully with Caldera Forms CiviCRM. PayPal Express plugin is available here, https://github.com/agileware/cf-paypal-express

@rbaugh maybe open a separate issue for your specific query

[2020-10-06 22:51] rbaugh commented on #149
OK, so I found the Magic Tags that Stripe processor is setting, just not seeing this for Authroize.Net. I have a ticket in with Caldera since they built the Authorize.net processor.

[2020-10-07 13:52] rbaugh opened #182 "Connected Forms Issue"
**Describe the bug**
Getting a JS error when trying to create a connected forms form. Seems this plugin is causing an issue when trying to execute some JS.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the Connected Forms add-on for CF
2. Add a new form using the Connected Forms template
3. Without any other changes, try and save the form.

**Expected behavior**
I expected to be able t

[2020-10-07 16:30] rbaugh commented on #182
I ended up adding this just inside the for loop to check if the field was an object and contained the config property. Assume you could use the hasOwnProperty instead of the in check for the second conditional.

`if ( !(typeof form.config.fields[field_id] === "object" ) || !( 'config' in form.config.fields[field_id] ) )
    break;`

[2020-10-08 02:26] rgilman commented on #178
@rbaugh, I'm having the same issue but I'm new to this plugin so a bit lost. Where (what file, etc.) should I add your code?

[2020-10-08 12:08] lcdservices commented on #163
FYI -- I saw the commit in the dev branch and implemented the patch, but it still isn't working for me.

[2020-10-08 14:28] rbaugh commented on #178
@rgilman The file I edited was below:
https://github.com/mecachisenros/cf-civicrm/blob/master/fields/civicrm_state/field.php

The two lines I adjusted were lines 33 & 88. In the code above you will see the two lines I commented out at the beginning and end and then the two lines I added in as a replacement.

Line 33
[code]

Line 88
[code]

[2020-10-08 14:50] rgilman commented on #178
Got it. Thanks!

[2020-10-09 15:45] rgilman commented on #177
I've run into the same issue, [as discussed on the civicrm stackexchange.](https://civicrm.stackexchange.com/questions/37901/cf-civicrm-state-province-field-dropdown-not-populating-after-country-is-chosen/37910#37910).

I agree that the logic around the 293-297 foreach loop needs to be improved to handle the case where all countries are _included_ by leaving the right-hand boxes for available coun

[2020-10-09 20:16] agileware-justin commented on #177
@rgilman Agree too. This would be a welcome improvement as the current behaviour is somewhat confusing and counter to CiviCRM's default functionality.

I'll bug this one internally, find an Agileware team member to review and submit PR. Agileware Ref: CFC-71 (our internal task).

[2020-10-13 19:51] Brusella opened #183 "Unable to add new line items to CiviCRM Order processor - javascript errors"
Hi,

I'm unable to add additional line items to the CiviCRM Order processor. In the form, I have one membership processors with two line item processors setup. However, I can only input the first line item in the Order processor. Receiving javascript errors via console- see gif screenshot.

Any advice to get this functioning would be appreciated.

![CFCIVIBUG](https://user-images.githubusercontent

[2020-10-14 17:55] Brusella commented on #183
So I see this is related to an issue resolved in #146
However, I'm having trouble working out where to apply the jquery fix in the relevant php file;

@am2605 -"So a fix seems to be to edit processors/order/order_config.php and add var $j = jQuery.noConflict(); at about line 293, and then use references to $j instead of $"_

Can anyone help? jquery and php is new to me.
Thanks in advance

[2020-10-20 10:16] AngelMatilla opened #185 "Critical erron on website when using Caldera Forms Stripe: 1.4.11"
**Describe the bug**
After successfully submitting a form, being redirected to the stripe payment gateway, performing the payment correclty, the redirection back to the wordpress website shows the following display: "There has been a critical error on your website"

**To Reproduce**
Steps to reproduce the behavior:
1. Install wordpress WordPress Version: 5.5.1 (PHP Version: 7.3.16, MySQL Version:

[2020-10-23 15:55] clement8888 commented on #183
Thanks for flagging this bug, i was able to successful patch this to resolve the bug.   the steps to do so are as follows:

1. change directory to this folder
/var/www/html/wp-content/plugins/cf-civicrm-master/processors/order

2. edit the order_config.php file, i use nano
nano order_config.php

3. go to row 293 and add the $j = jQuery.noConflict(); line and replace $ to $j, so the code section wi

[2020-10-23 16:52] clement8888 opened #186 "Is it possible to add values to Contribution CustomField?"
**Is your feature request related to a problem? Please describe.**
Is it possible to populate custom fields of Contribution Record (e.g Receipt No. etc)

**Describe the solution you'd like**
i had thought there is a custom field tab in the Contribution/Order Processor like that of the Contact Processor, but there wasn't

**Describe alternatives you've considered**
There doesn't seem to be another

[2020-10-23 19:08] Brusella commented on #183
Great. Thanks for this

[2020-11-19 23:56] dmgeurts opened #188 "Counties field not populated"
CiviCRM deals with counties (UK user here) a bit awkwardly. We have it working in CiviCRM now but in Caldera I can't get the County field (state/province) to populate, it remains empty.

I'm using the default CiviCRM Contact and Address form. The extra fields to custom entries are all working perfectly and the other address details also show up fine.

**Expected behavior**
Counties to be displayed

[2020-11-20 00:32] agileware-justin commented on #188
See my answer here, https://civicrm.stackexchange.com/questions/37901/cf-civicrm-state-province-field-dropdown-not-populating-after-country-is-chosen/37903#37903

[2020-11-20 09:18] dmgeurts commented on #188
Perfect, wouldn't have thought of checking that. My assumption was that if left default all fields would be available. I did not have to set a default state/county, for which I'm grateful as that would have caused no end of complaints!

[2020-11-20 09:18] #188 closed, assigned to nobody

[2020-11-24 11:46] andyburnsco opened #189 "Bulk insert preset value doesn't sync to Civi if numeric"
**Describe the bug**
When you select a corresponding Civi field to bulk insert the presets, it inserts the proper label, value. The calculation value matches the value.

However, when submitting the form, the data does not go into Civi when using the Civi value that is a numeric. Instead you have to switch the field value to the field label in this case. This is not the expected behavior.

**Expec

[2020-11-27 14:17] sebbyspence opened #190 "Form with multiple contacts"
I have a form which has multiple contacts

Starting with the logged in user
they have a relationship to a household (which is a Head office)

In the form I am displaying the current users First and last name,
And the household they have a relationship with.

The form then has 2 more contacts

A branch which is an Organisation and then a individual which is a branch contact

If have the processors

[2020-12-08 08:28] Macharia opened #191 "Edit Functionality on Caldera Forms not functioning once plugin is activated"
**Describe the bug**
When I activate the CF Civicrm Plugin (Nb. CiviCRM is activated) I cannot edit a form as the form shows the fields as blank. On deactivating I can edit the respective forms.

When the plugin is deactivated (Test form below to show the outcome):
![cf_civicrm_deactivated](https://user-images.githubusercontent.com/6436326/101458421-ec9b6400-3947-11eb-992d-78a566716bde.png)

When

[2020-12-08 18:24] themak1985 opened #192 "Guideance on how to transition to Wordpress Plugins Directory version?"
We have been using Caldera Wordpress integration with 0.4.2 version of this plugin without issue. We would like to access new functionality introduced in 1.x version and we would like to have the plugin managed through the wordpress plugins directory. It might be obvious, but do you have a suggested upgrade/transition instructions? If I manually upgrade to 1.0.5 will it automatically detect that i

[2020-12-17 15:40] lcdservices opened #193 "Country/State fields don't work in modal view"
**Describe the bug**
The CiviCRM country/state fields don't work when a form is opened in modal view.

**To Reproduce**
1. Create a form with the country/state fields (the contact with address template is fine)
2. Create a page and embed the form using the caldera_form_modal shortcode
3. View the page and click the button to open the form

**Expected behavior**
The state and country fields are sel

[2020-12-17 16:48] shaneonabike opened #194 "Array to string conversion error"
**Describe the bug**
When saving Caldera forms there is quite a few notices relating to the following:

`PHP Notice:  Array to string conversion in /wp-content/plugins/cf-civicrm/includes/class-civicrm-caldera-forms-forms.php on line 317
`

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a form
2. Add a CiviCRM Contact 1, Contact 2, Relationship, and two Address processors
3. Save the f

[2020-12-17 17:53] shaneonabike opened #195 "Invalid Relationship when adding 2 contacts where one is an organization"
**Describe the bug**
When submitting a form I get "Invalid Relationship"

**To Reproduce**
Steps to reproduce the behavior:
1. Processor Contact 1: An individual (the one logging in to use the form)
2. Processor Contact 2: Linked to an Organization
3. Processor Relationship Contact 1 / Contact 2 where it is set as [Individual]Employee of - [Organization]Employer of
4. Processor CiviCRM Address: Co

[2021-01-20 16:37] squeezeboxer opened #196 "Activity Processor Tag selection"
**Describe the bug**
In the Activity Processor, tag selection is a field. The options to choose from are form fields, not CiviCRM tags as a drop-down (similar to contact tags).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Activity Processor'
2. Click on 'Tags' and view available options

**Expected behavior**
I would expect a drop-down populated by CiviCRM (similar to Contact Tags)

[2021-01-26 16:48] masetto opened #198 "Multple CiviCRM order processors"
I have a form with Stripe and Paypal payment.
I can only add one "CiviCRM order" processor type.
Instead I'd like to insert 2 processors "CiviCRM order", one for Stripe and one for Paypal.

Is it possible?

[2021-02-09 15:23] KilakwaBT opened #202 "Participants status is Pending(incomplete Transaction) even though payment is recorded"
We have a registration form for an event where in some cases the participant ends up with the status 'Pending(Incomplete Transaction). The payment is recorded as complete with transaction ID in CiviCRM. It is also listed in the event registration with a balance due of $0.00. This does not happen with every transaction. Still working on variables that cause this behavior. I will update this issue a

[2021-02-15 21:17] KilakwaBT commented on #202
I have some more details on this. Here are the particulars.

- All users must be logged in to access the form.
- We have the 'Populate User Data' Check box checked on the Contact 1 Which the registration and contributions is connected to.
- In many cases there are multiple contacts in Civi that have the same email so a new contact is created when the user creates an account.
- When the form is pro

[2021-02-15 21:57] agileware-justin commented on #202
@KilakwaBT did you set up a Contribution processor?

[2021-02-15 22:28] KilakwaBT commented on #202
The order processor is in place referencing the line item for the participant processor. The contributions are being recorded correctly.

[2021-02-16 00:33] agileware-justin commented on #202
"since there is no contribution" confused me. Maybe attach an export of the Caldera Form JSON so others can see how it is configured. Or screenshots.

[2021-03-16 07:59] Macharia commented on #191
The issue was due to a CRM plugin. The problem occurred when transferring the CRM tables from the old domain. For future problems, turn to debug mode on WordPress and check log files for the possible cause.

[2021-03-16 07:59] #191 closed, assigned to nobody

[2021-03-19 14:15] jbonlinea opened #203 "Set address as home address works but fails (weird)"
Hi there

thank's for this plug-in which is a real game changer for wp users !

## Describe the bug

Not sure if it's a bug, and it may not fully be stemming from cf-civicrm,we'll see :)

the main background to have in mind is that I have a form which update a contact address, so far so good !

#### Context

I do use @christianwach civicrm-wp-profile-sync, and use it to sync wp-user fields with ci

[2021-03-19 20:11] agileware-justin commented on #203
@jbonlinea you might want to post this issue over here, https://github.com/christianwach/civicrm-acf-integration - just because the problem you are describing is not something I've ever seen when using CF CiviCRM - and we use it a lot in our projects.

[2021-04-06 17:11] GuillaumeSorel opened #204 "No more civiCRM processes"
The processes to create a CiviCRM Membership and add an user to a group doesn't work anymore when it used to work previously.
I think upgrading to CiviCRM to 5.35.1 was to turning point but I can't be 100% sure.

**To Reproduce**
Create a form with CiviCRM processes and try to use it. Each process related to WP works but none of those related to CiviCRM

**Expected behavior**
Add contact to group

[2021-04-29 17:14] tttp opened #206 "CiviCRM contact reference: display as a list (select) instead of an autocomplete"
**Is your feature request related to a problem? Please describe.**
when registering a participant to an internal event, we have a "your organisation" field and we use the autocomplete to list the member organisations (70 orgs)

The problem is that because that field is an autocomplete, the participant needs to type the first letter of their organisation, and then among the list select their organi

[2021-05-11 17:29] KilakwaBT commented on #202
Sorry just getting back to this. The original event ended and we are preparing for a new event.  Here are screen shots of the configuration.

![image](https://user-images.githubusercontent.com/28601657/117858715-286e8880-b25c-11eb-9a44-3db378e98bff.png)

![image](https://user-images.githubusercontent.com/28601657/117858775-37553b00-b25c-11eb-98e0-d615ec40f36a.png)

![image](https://user-images.git

[2021-05-11 20:51] kcristiano commented on #202
@KilakwaBT On the Order processor the Contribution Status should be set to Pending(default)

![image](https://user-images.githubusercontent.com/1892544/117883135-0afbe780-b279-11eb-9470-b33af1954de9.png)

This change was needed after CiviCRM 5.20+

[2021-05-17 15:45] KilakwaBT commented on #202
@kcristiano that did it in my test site. Thanks

[2021-05-17 15:45] #202 closed, assigned to nobody

[2021-05-18 15:57] jbonlinea opened #207 "The end of caldera form and the future we may expect"
Hi,
I've been usign your plug-in for some time, not super extensively, but it really is a game changer, and I would like to thank you for that work.

When I started using it, it was also the time when caldera form was bought by staurday drive, that also run ninja form; many were worries about the future of caldera, and what was foreseeable has happened, the is the end of caldera form.

I allways h

[2021-05-18 22:59] cdhassell commented on #207
It appears that the new owners intend to offer a CiviCRM integration for Ninja Forms. They didn't say whether it would be free but I suspect not. Maybe the question is how this team feels about a paid alternative.

https://calderaforms.com/2021/03/the-future-of-caldera-forms/

[2021-05-19 06:42] jbonlinea commented on #207
Hi,
Yes I've seen that, in the comment there is someone who raise the question, to which they reply that it probably won't be free and that ninja form modules usually cost between 30 to 50 dollars... and my guess is that, if the module is indeed ported, it will be included with their agency plan with all the others CRM integration modules...

And about how do they feel... probably not as bad as ma

[2021-05-21 18:03] dev-allinappli commented on #207
This is also a huge issue for us, Afform is great but far to be able to replace what we had with Caldera and mecachisenros did a great job to reach the level of a Drupal/Webform-civicrm. I've started a new and very complex integration just before the announcement and now I'm thinking of launching a brand new Drupal 8 site in in less than 1 week. :-/

[2021-05-21 18:06] dev-allinappli commented on #185
exactly the same issue I wanted to post. Have you found a solution?

After many tests, Caldera Form is incompatible with Enable Jquery Migrate and CF-civicrm :-/

[2021-05-22 00:15] cdhassell commented on #185
Is this related to the original post? Why do you say CF is incompatible with Enable Jquery Migrate?

[2021-05-22 12:59] kcristiano commented on #185
Can you test just with Caldera Forms and Stripe 1.4.11 ?  I have not had this configuration work consistently.

I have also not had issues with Caldera and enable jQuery migrate plugin so I'd be interested in the issues @allinappli has had.

[2021-05-22 18:27] dev-allinappli commented on #185
Yes it is related to the original and I was adding, which is a bit off-topic, that CF-Stripe is also not compatible with jQuery Migrate Helper that is needed to have caldera forms functioning on the lastest WP version from 5.6 even without cf-civicrm enabled.   Which means I'm twice concerned.
[EDIT]: not so sure anymore about enable jQuery migrate, but it is minor.

[2021-05-22 19:05] dev-allinappli commented on #185
I confirm that payment works with ONLY :
caldera forms + cf-stripe 1.4.11 + caldera license manager OR caldera forms + cf-stripe 1.4.11 + caldera license manager + cf-civicrm (all latest version of plugins) (I've disabled all other WP plugins and reactivating each one in a row still worked)

but once civicrm (5.35.1 or 5.37.2) is enabled it doesn't work anymore and I'm getting the same error messa

[2021-05-22 19:15] dev-allinappli commented on #185
I have to say that my priority is CiviCRM and cf-civicrm is the cornerstone of our websites. Some don't use need payments but for those who use Stripe, it's a big issue.
@kcristiano: I gave a try with only caldera forms + cf-stripe 1.4.11 + caldera license manager + cf-civicrm + enabl.e jQuery and it worked. Maybe I mistook yesterday. But as said my topic is really civicrm

[2021-05-23 13:20] kcristiano commented on #185
@allinappli Thanks for the details.   Are you using `cf-civicrm` from the wp.org repo or GitHub?  if GitHub, what branch/commit are you on?

[2021-05-24 07:53] dev-allinappli commented on #185
I'm using the one (1.05) from the wp.org repo. I saw that there is a more recent version (1.11) on git hub, I'll give a try now.

[2021-05-24 08:18] dev-allinappli commented on #185
I'm getting the same issue with the version 1.11 (that still shows up as 1.05), when civicrm is enabled